<div class="modal fade" id="addSongToSetListModal">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class = "modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" th:action="@{/setlist/add-song}" id="addSongToSetForm">
				</form>	
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-info btn-lg w-100" form="addSongToSetForm" id="submitAddSongToSetFormBtn">Add to set</button>
			</div>
		</div>
	</div>
</div>


<script>
function addSongToSet(id){
	$('#addSongToSetListModal').find('.modal-title').html('Add song to set...');
	$('#addSongToSetListModal').modal('show');
	$.ajax({
		url: contextpath + 'song/details/' + id + '?view=modal/dynamic/add-song-to-set', 
		method: "GET",
		beforeSend: function() {
			$('#addSongToSetForm').html($('.loading').clone());
		},
		success: function(data) {
			$('#addSongToSetForm').html(data);
		},
		error: function(data){
			alertWithFade('danger','Something went wrong! Unable to retreive song metadata.')
		}
	});
}
$(document).ready(function(){
	$('#addSongToSetForm').on('submit',function(e){
		e.preventDefault();
		if (isFormFilled(this)){
			$('#addSongToSetForm button[type="submit"]').prop("disabled",true);
			$.ajax({
				url: contextpath + 'setlist/add-song',
				method: "POST",
				data: $('#addSongToSetForm').serialize(),
				success: function() {
					if ($('#addSongToSetListModal').find('.set-list').val() == '0'){
						setAlertOnLoad('warning',$('#addSongToSetListModal').find('.song-title-ref').prop('outerHTML') + ' added to <br> <a href="'+ contextpath + 'latest-set" class="alert-link">New setlist</a>');
						location.reload();
					} else {
						alertWithFade('warning',$('#addSongToSetListModal').find('.song-title-ref').prop('outerHTML') + ' added to set list <br> <a href="'+ contextpath + 'setlist/' +  $('#addSongToSetListModal').find('.set-list').val()  + '" class="alert-link">'+$('#addSongToSetListModal').find('.set-list option:selected').text() + '</a>');
						reloadSetContainerIfPresent($('#addSongToSetListModal').find('.set-list').val());
						$('#addSongToSetListModal').modal('hide');
					}
				},
				error: function(data){
					alertWithFade('danger','Something went wrong! Unable to add song to set')
				},
				complete: function(){
					$('#addSongToSetForm button[type="submit"]').prop("disabled",false);
				}
			});
		}
	});
});
</script>