<div class="modal fade" id="addAddressBookEntryToGroup">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		</div>
	</div>
</div>

<script>
	function addAbEntryToGroupFromModal(entryId){
		$.ajax({
			url: contextpath + 'addressbook/add-member-to-group',
			method: "GET",
			data: {entryId: entryId},
			success: function(data) {
				$('#addAddressBookEntryToGroup').find('.modal-content').html(data);
				$('#addAddressBookEntryToGroup').modal('show');
			},
			error: function(data){
				alertWithFade('danger','Unable to add member to group');
			}
		});	
	}
</script>