<div class="modal fade" id="changeVersionModal">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class = "modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST" action="" id="changeVersionForm">
				<div class="modal-body" >
					<input type="hidden" class="set-id" name="setId">
					<input type="hidden" class="set-song-id" name="setSongId">
					<div class="template-container" id="changeVersionContainer">
					</div>
				</div>
				<div class="modal-footer">
					<div class="row no-gutters w-100">
						<div class="col-2"></div>
						<div class="col col-lg col-8">
							<button type="submit" class="btn btn-info btn-lg w-100" id="submitChangeVersionBtn">Choose Version</button>
						</div>
						<div class="col-2"></div>
					</div>
				</div>
			</form>	
		</div>
	</div>
</div>


<script>
function openChangeVersionModal(songId, setId, songName, setSongId){
	$('#changeVersionModal').find('.modal-title').html('Change selected version of <b>' + songName + '</b>');
	$('.set-id').val(setId);
	$('.set-song-id').val(setSongId);
	$('#changeVersionContainer').load(contextpath + 'song/get-all-related/' + songId, function(){
		$('#changeVersionModal').modal('show');
	});
}
$(document).ready(function(){
	$('#changeVersionForm').on('submit',function(e){
		e.preventDefault();
		$('#submitChangeVersionBtn').find('.btn').attr('disabled',true);
		if (isFormFilled(this)){
			if($('#changeVersionModal').find('.version-list').val() == "newVersion"){
				$.ajax({
					url: contextpath + 'song/version/' + $('#changeVersionModal').find('.version-list option:contains("**")').val(),
					method: "POST",
					data: new FormData(this),
					processData: false,
					contentType: false,
					success: function(data) {
						$.ajax({
							url: contextpath + 'setlist/change-version',
							method: "POST",
							data: {
								setId: $('#changeVersionForm').find('.set-id').val(),
								currentVersion: $('#changeVersionForm').find('input[name="currentVersion"]').val(),
								version: data,
							},
							success: function(data) {
								alertWithFade('warning','Song changed in set list to new version');
								$('#appendSetList_' + $('#changeVersionModal').find('.set-id').val()).html(data);
								$('#changeVersionModal').modal('hide');
								reloadSetSongContainerIfPresent($('#changeVersionModal').find('.set-id').val());
								reloadSetContainerIfPresent($('#changeVersionModal').find('.set-id').val());
							},
							error: function(data){
								alertWithFade('danger','Something went wrong! Unable to add song to set')
							},
							complete: function(){
								$('#submitChangeVersionBtn').find('.btn').attr('disabled',false);
							}
						});
					},
					error: function(data){
						alertWithFade('danger','Something went wrong! Unable to add song to set')
					},
					complete: function(){
						$('#submitChangeVersionBtn').find('.btn').attr('disabled',false);
					}
				});
			} else {
				$.ajax({
					url: contextpath + 'setlist/change-version',
					method: "POST",
					data: $('#changeVersionForm').serialize(),
					success: function(data) {
						alertWithFade('warning','Version updated');
						$('#appendSetList_' + $('#changeVersionModal').find('.set-id').val()).html(data);
						$('#changeVersionModal').modal('hide');
						reloadSetSongContainerIfPresent($('#changeVersionModal').find('.set-id').val());
					},
					error: function(data){
						alertWithFade('danger','Something went wrong! Unable to add song to set')
					},
					complete: function(){
						$('#submitChangeVersionBtn').find('.btn').attr('disabled',false);
					}
				});
			}
		}
	});
});
</script>