<div class="modal fade" id="changePasswordModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class = "modal-header">
				<h5 class="modal-title">Change Password</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST" th:action="@{/change-password}" id="changePasswordForm">
				<div class="modal-body">
					<div class="form-group row">
						<div class="col mx-auto col-md-6">
							<input placeholder="Old password" class="form-control autofocus old-password required" type="password" name="password"/>
						</div>
					</div>
					<div class="form-group row">
						<div class="col mx-auto col-md-6">
							<input placeholder="New password" class="form-control password required" type="password" name="newPassword"/>
						</div>
					</div>
					<div class="form-group row">
						<div class="col mx-auto col-md-6">
							<input placeholder="Confirm password" class="form-control confirm-password required" type="password" name="confirmPassword"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info btn-lg w-100" title="Fill out the required fields to change your password" disabled id="changePasswordBtn">Change Password</button>
				</div>
			</form>	
		</div>
	</div>
</div>

<script th:inline="javascript">
$(document).ready(function(){
	$('#changePasswordModal').find('input').on('keyup',function(){
		clearTimeout(typingTimer);
		typingTimer = setTimeout(unlockForm($('#changePasswordForm'),true), doneTypingInterval);
	});
	$('#changePasswordModal').find('input').on('keydown',function(){
		clearTimeout(typingTimer);
	});
	$('#changePasswordForm').on('submit',function(e){
		e.preventDefault();
		if (isPasswordPolicyCompliant($(this).find('.password').val())){
			$.ajax({
				url: contextpath + 'change-password',
				method: "POST",
				dataType: 'JSON',
				data: $('#changePasswordForm').serialize(),
				success: function(data) {
					if (data.status == "bad_password"){
						alertWithFade('danger','The old password you entered was incorrect.');
					} else {
						alertWithFade('warning','Password changed successfully');
						$('#changePasswordModal').modal('hide');
					}
				},
				error: function(data){
					alertWithFade('danger','Something went wrong! Unable to change password.')
				}
			});	
		} else {
			alertWithFade('danger','Password does not meet complexity requirements. [too short]');
		}
	});
});
function changePassword(){
	$('#changePasswordModal').modal('show');
}
</script>