<div class="modal fade" id="createItemModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class = "modal-header">
				<h5 class="modal-title"> <span class="modal-title-text">Create New Song</span>
				<small class="song-tips-btn" data-toggle="tooltip" data-placement="bottom">
					<b>tips</b>
				</small>
				</h5>
				<div class="collapse song-tips-container w-100">
					<th:block th:replace="partial/song-tips"></th:block>
				</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="create-tab row mb-2 no-gutters">
				<div class="col-6 text-center tab selected pt-2 pb-2 song" data-target="song">Create Song</div>
				<div class="col-6 text-center tab pt-2 pb-2 setlist" data-target="setlist">Create Set List</div>
			</div>
			<div class="modal-body">
				<div class="create-song-form">
					<form method="POST" action="" id="createSongForm">
						<div class="form-group row flex-nowrap no-gutters">
							<div class="col-12 no-gutters">
								<input placeholder="Song title" class="form-control title required autofocus" title="Enter a title for this song." type="text" name="songTitle"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-7 d-flex flex-nowrap">
								<label for="categories" class="col-form-label pr-1">Category</label>
								<select id="categorySelect" name="category" class="form-control categories">
								</select>
							</div>
							<div class="col-5 no-gutters text-right">
								<label for="defaultKey" class="col-form-label">Chorded In</label>
								<th:block th:replace="partial/key-dropdown-select :: keySet('N','chordedIn')"></th:block>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-12">
								<textarea rows="15" name="songBody" type="textArea" class="form-control body required" title="Song body"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-12 recording-setting">
								<th:block th:replace="partial/audio-input :: audioInput(${nullValue})"></th:block>
							</div>
						</div>
					</form>
				</div>
			
				<div class="create-setlist-form collapse">
					<form id="createSetListForm">
						<th:block th:replace="/partial/create-set :: createSet('createItemModal','createSetListForm')"></th:block>
					</form>
				</div>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="submit" class="btn btn-info btn-lg w-100 mw-500" id="submitCreateItemBtn">Create Song</button>
			</div>
		</div>
	</div>
</div>
<style>
</style>


<script>
	function createSong(){
		focusItem('song');
		$('#createItemModal').modal('show');
	}
	function createSetList() {
		focusItem('setlist');
		$('#createItemModal').modal('show');
	}
	
	function focusItem(itemType){
		$('.tab.selected').removeClass('selected');
		if (itemType === 'song'){
			$('.tab.song').addClass('selected');
			$('.create-song-form').show();
			$('.create-setlist-form').hide();
			$('.modal-title-text').html('Create New Song');
			$('.song-tips-btn').show();
			$('#submitCreateItemBtn').html('Create Song');
			$('#submitCreateItemBtn').addClass('create-song');
			$('#submitCreateItemBtn').removeClass('create-setlist');
		} else {
			$('.tab.setlist').addClass('selected');
			$('.create-song-form').hide();
			$('.create-setlist-form').show();
			$('.modal-title-text').html('Create New Set List');
			$('.song-tips-btn').hide();
			$('#submitCreateItemBtn').html('Create Set List');
			$('#submitCreateItemBtn').addClass('create-setlist');
			$('#submitCreateItemBtn').removeClass('create-song');
		}
	}
	$(document).ready(function(){
		$('.create-tab>.tab').on('click',function(){
			focusItem($(this).data('target'));
		});
		$('#submitCreateItemBtn').on('click',function(e){
			e.preventDefault();
			if($(this).hasClass('create-song')){
				$('#createSongForm').submit()
			} else {
				$('#createSetListForm').submit()
			}
		});
		$('#createSongForm').on('submit',function(e){
			e.preventDefault();
			if (isFormFilled(this)){
				$('#submitCreateItemBtn').attr('disabled',true);
				$.ajax({
					url: contextpath + 'song/create',
					method: "POST",
					data: new FormData(this),
					processData: false,
					contentType: false,
					dataType: 'JSON',
					success: function(data) {
						if (data.status == 'conflict') {
							alertWithFade('danger','The song <a href="' + contextpath + 'song/' + data.action + '">' + $('#createItemModal').find('.form-control.title').val() + '</a> already exists.')
							return
						}
						setAlertOnLoad('warning','New song <b>' +$('#createSongForm').find('.title').val() + '</b> created.');
						location.href = contextpath + 'song/' + data.action; 
						$('#createItemModal').modal('hide');
					},
					error: function(data){
						alertWithFade('danger','Something went wrong! Unable to create song.')
					},
					complete: function(data){
						$('#submitCreateItemBtn').attr('disabled',false);
					}
				});
			}
		});
		
		$('#categorySelect').load(contextpath + 'categories?view=partial/select-options/categories');

		$('#createSetListForm').on('submit',function(e) {
			e.preventDefault();
			if (isFormFilled(this)) {
				$('#submitCreateItemBtn').attr('disabled', true);
				$.ajax({
					url : contextpath+ 'setlist/create',
					method : "POST",
					data : $('#createSetListForm').serialize(),
					success : function() {
						location.reload();
					},
					error : function(data) {
						alertWithFade('danger','Something went wrong! Unable to add song to set')
						$('#submitCreateItemBtn').attr('disabled', false);
					}
				});
			}
		});

	});
</script>