<div class="modal fade" id="deleteSongModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class = "modal-header alert-danger">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<span class="modal-message"></span>
			</div>
			<form id="deleteSongForm">
				<input type="hidden" class="song-id" name="songId"/>
				<input type="hidden" class="song-name" name="songName"/>
			</form>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-danger" id="confirmDeleteSongBtn" data-dismiss="modal">Delete</button>
			</div>
		</div>
	</div>
</div>


<script>
var songDeleted = false;
$(document).ready(function(){
	$('#confirmDeleteSongBtn').click(function(e){
		songDeleted = true;
		$.ajax({
			url: contextpath + 'song/delete',
			method: "DELETE",
			data: $('#deleteSongForm').serialize(),
			success: function() {
				$('#songRow_' +$('#deleteSongModal').find('.song-id').val()).hide();
				alertWithFade('success','<b>' + $('#deleteSongModal').find('.song-name').val() + '</b> has been deleted.');
			},
			error: function(data){
				alertWithFade('danger','Something went wrong! Unable to remove song')
			}
		});
	});
});

</script>