<div class="modal fade" id="deleteSetModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class = "modal-header alert-danger">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<span class="modal-message"></span>
			</div>
			<form id="deleteSetForm">
				<input type="hidden" class="set-id" name="setId"/>
			</form>
			<div class="modal-footer">
				<button type="submit" class="btn btn-danger btn-lg w-100" id="confirmDeleteSetBtn" data-dismiss="modal">Delete Set</button>
			</div>
		</div>
	</div>
</div>


<script>
$(document).ready(function(){
	$('#confirmDeleteSetBtn').click(function(e){
		var id = $('#deleteSetModal').find('.set-id').val();
		$.ajax({
			url: contextpath + 'setlist/delete/' + id,
			method: "POST",
			success: function() {
				if($(location).attr('href').includes('setlist/' +id)){
					location.href = contextpath + 'home';
				} else {
					location.reload();
				}
			},
			error: function(data){
				alertWithFade('danger','Something went wrong! Unable to remove set')
			}
		});
	});
});
</script>