<div class="modal fade" id="editAddressBookEntryModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form method="POST" action="" id="editAddressBookEntryForm">
			</form>	
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('#editAddressBookEntryForm').on('submit',function(e){
			e.preventDefault();
			if (isFormFilled(this)){
				$.ajax({
					url: contextpath + 'addressbook/edit/'+ $(this).find('.entry-id').val(),
					method: "POST",
					data: $(this).serialize(),
					beforeSend: function(){
						$(this).find('button[type="submit"]').attr('disabled',true);
					},
					success: function() {
						setAlertOnLoad('warning','Contact updated')
						location.reload();
					},
					error: function(data){
						$(this).find('button[type="submit"]').attr('disabled',false);
						alertWithFade('danger','Something went wrong! Unable to edit contact.')
					}
				});
			}
		});
	});
	function editEntry(id){
		$.ajax({
			url: contextpath + 'addressbook/edit/' + id,
			method: "GET",
			success: function(data) {
				$('#editAddressBookEntryForm').html(data);
				$('#editAddressBookEntryModal').modal('show');
			},
			error: function(data){
				alertWithFade('danger','Something went wrong! Unable to retrieve contact details');
			},
		});		
	}
</script>