<div class="modal fade" id="editSetListModal">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class = "modal-header">
				<h5 class="modal-title">Rename Set List</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" action="" id="editSetListForm">
					<div class="form-group row text-center" >
						<div class="col-2"></div>
						<div class="col-8">
							<input type="hidden" class="set-list-id" name="setListId">
							<input class="form-control set-list-name required" data-width="100%" type="text" name="setListName" title="Enter the Set List Name">
						</div>
						<div class="col-2"></div>
					</div>
				</form>	
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-info btn-lg w-100 submit-form" onclick="$('#editSetListForm').submit();">Rename</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('#editSetListForm').on('submit',function(e){
			e.preventDefault();
			if (isFormFilled(this)){
				$.ajax({
					url: contextpath + 'setlist/edit/'+ $('#editSetListModal').find('.set-list-id').val(),
					method: "POST",
					data: {
						setListName: encodeURI($('#editSetListForm').find('.set-list-name').val())
					},
					beforeSend: function(){
						$('#editSetListModal').find('.submit-form').attr('disabled',true);
					},
					success: function() {
						$('#setListContainer_' + $('#editSetListModal').find('.set-list-id').val()).find('.set-list-title > span').html($('#editSetListModal').find('.set-list-name').val());
						alertWithFade('warning','Set list title updated')
						$('#editSetListModal').modal('hide');
					},
					error: function(data){
						alertWithFade('danger','Something went wrong! Unable to edit set list')
					},
					complete: function(){
						$('#editSetListModal').find('.submit-form').attr('disabled',false);
					}
				});
			}
		});
		$(document).on('click','.rename-set', function(){
			var container = $(this).closest('.set-list-container');
			$('#editSetListModal').find('.set-list-name').val($(container).data('setname'));
			$('#editSetListModal').find('.set-list-id').val($(container).data('target'));
			$('#editSetListModal').modal('show');
		});
	});
</script>