<div class="modal fade" id="emailSetModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class = "modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="emailSetForm">
			</form>
		</div>
	</div>
</div>

<script>
	async function createFile(url, name, type){
		let response = await fetch(url);
		let data = await response.blob();
		return new File([data], name + "." + type, {
			type: 'application/pdf',
		});
	}
	// TODO: This needs to be used once share API supports files for email
	async function emailSet(setId, setName){
    // var pdfFile = await createFile(baseContext + '/setlist/pdf/' + setId, setName, 'pdf');
    // var pptFile = await createFile(baseContext + '/setlist/ppt/' + setId, setName, 'pptx');
		// if (navigator.share) {
		// 	$('slc-email-set').css('pointer-events','none')
		// 	logAction("Email files opened");
    //   navigator.share({
    //     title: setName + ' files',
		// 		url: baseContext+ '/setlist/' + setId,
    //     files: [pdfFile, pptFile]
    //   }).then(() => {
    //     logAction("File object sent using native OS share menu.");
		// 		$('slc-email-set').css('pointer-events','auto')
    //   })
    //   .catch(() => $('slc-email-set').css('pointer-events','auto'));
    // } else {
			$.ajax({
				url: contextpath + 'setlist/email/' + setId,
				method: "GET",
				success: function(data) {
					$('#emailSetForm').html(data);
					$('#emailSetModal').modal('show');
				},
				error: function(data){
					alertWithFade('danger','Something went wrong! Unable to retreive set list to email')
				}
			});
    // }
	}

	$(document).ready(function(){
		$('#emailSetForm').on('submit',function(e){
			e.preventDefault();
			$('[name="finalMessageBody"]').val($("#messageBody").contents().find("body").html());
			if (isFormFilled(this)){
				$('#submitEmailSetBtn').attr('disabled',true);
				$.ajax({
					url: contextpath + 'setlist/email/' + $('#emailSetForm').find('.set-id').val(),
					method: "POST",
					data: $('#emailSetForm').serialize(),
					success: function() {
						$('#emailSetModal').modal('hide');
						alertWithFade('success','Email sent successfully.');
					},
					error: function(data){
						alertWithFade('danger','Something went wrong! Unable to email set')
					},
					complete: function(data){
						$('#submitEmailSetBtn').attr('disabled',false);
					}
				});
			}
		});
	});

</script>