<div class="modal fade" id="emailGroupModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class = "modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="emailGroupForm">
			</form>
		</div>
	</div>
</div>
<script>
function emailGroup(groupId){
	$.ajax({
		url: contextpath + 'addressbook/email/' + groupId,
		method: "GET",
		success: function(data) {
			$('#emailGroupForm').html(data);
			$('#emailGroupModal').modal('show');
		},
		error: function(data){
			alertWithFade('danger','Something went wrong! Unable to retreive group data to email')
		},
	});
}

$(document).ready(function(){
	$('#emailGroupForm').on('submit',function(e){
		e.preventDefault();
		$(this).find('[name="finalMessageBody"]').val($(this).find("#messageBody").contents().find("body").html());
		if (isFormFilled(this)){
			$(this).find('button[type="submit"]').attr('disabled',true);
			$.ajax({
				url: contextpath + 'addressbook/email',
				method: "POST",
				data: $(this).serialize(),
				success: function() {
					$('#emailGroupModal').modal('hide');
					alertWithFade('success','Email sent successfully.');
				},
				error: function(data){
					alertWithFade('danger','Something went wrong! Unable to email set')
				},
				complete: function(data){
					$(this).find('button[type="submit"]').attr('disabled',false);
				}
			});
		}
	});
});

</script>