<div class="modal fade" id="resetPasswordModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class = "modal-header">
				<h5 class="modal-title">Send Password Reset Link</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST" th:action="@{/password-reset}" id="resetPasswordForm">
				<div class="modal-body">
					<div class="form-group row">
						<div class="col mx-auto col-md-6">
							<input placeholder="Email address" title="Enter the email address associated with your account." class="form-control autofocus email-address required" type="text" name="email"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="sendResetBtn" type="submit" class="btn btn-lg w-100 btn-info">Reset Password</button>
				</div>
			</form>	
		</div>
	</div>
</div>

<script th:inline="javascript">
$(document).ready(function(){
	$('#resetPasswordForm').on('submit',function(e){
		e.preventDefault();
		if (isFormFilled($(this))){
			$.ajax({
				url: contextpath + 'password-reset',
				method: "POST",
				dataType: 'JSON',
				data: $('#resetPasswordForm').serialize(),
				beforeSend: function(){
					$('#sendResetBtn').attr('disabled',true);
				},
				success: function(data) {
					if (data.status == "bad_email"){
						alertWithFade('danger','No user found. Please enter the email address associated with your account.');
					} else {
						alertWithFade('warning','An email has been sent with a link to reset your password');
						$('#resetPasswordModal').modal('hide');
					}
				},
				error: function(data){
					alertWithFade('danger','Could not send a reset link to the email entered')
				},
				complete: function(){
					$('#sendResetBtn').attr('disabled',false);
				}
			});	
		}
	});
});
function resetPassword(){
	$('#loginModal').modal('hide');
	$('#resetPasswordModal').modal('show');
}
</script>