<div class="modal fade" id="versionControlModal">
</div>


<script>
var versionChange;
var createToggle;
function openVersionControlModal(songId, create){
	versionChange = false;
	createToggle = false;
	$.ajax({
		url: contextpath + 'song/version/' + songId + '?view=modal/dynamic/version-control', 
		method: "GET",
		success: function(data) {
			$('#versionControlModal').html(data);
			createToggle = create;
			$('#versionControlModal').modal('show');
		},
		error: function(data){
			alertWithFade('danger','Something went wrong! Unable to get master data for song versions')
		}
	});
}

function deleteVersion(id, name){
	$.ajax({
		url: contextpath + 'song/delete/' + id, 
		method: "POST",
		success: function(data) {
			alertWithFade('warning','Successfull deleted ' + name);
		},
		error: function(data){
			alertWithFade('danger','Something went wrong! Unable to delete version')
		}
	});
}

function refreshVersionControl(id){
	$('#versionControlModal').load(contextpath + 'song/version/' + id + '?view=modal/dynamic/version-control');
}
</script>