<div id="alert-container" class="alert-container">
	<div class="row no-gutters">
		<div class="col text-center">
			<div id="custom-alert" class="custom-alert alert pt-3 pb-0 mb-0" role="alert">
				<div class="row no-gutters">
					<div class="col text-center d-flex justify-content-center">
							<span class="alert-message custom-alert-container"></span>
					</div>
				</div>
				<div class="col my-0 pb-0 pt-0 text-center hide-alert" id="hideAlert">
					<i class="fa fa-angle-up" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="installPrompt" class="alert alert-success py-2 px-1 install-pwa text-center" role="alert">
	<button id="closeInstallPrompt" type="button" class="close">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="row no-gutters">
		<div class="col">Standalone application mode now supported!<br>
			You will need to (re)add the application to your homescreen for these changes to take effect. Tap the <img width="25px" th:src="@{/images/export-ios.png}"> icon and then <b>Add to homescreen</b>.
		</div>
	</div>
	<div class="fixed-install-arrow"><div class="arrow-down mx-auto"></div></div>
</div>

<script>
	var alertOnLoadKey = 'alertOnLoad';
	var alertOnLoadType = 'alertOnLoadType';
	$(document).ready(function(){
		if (window.localStorage.hasOwnProperty(alertOnLoadKey)){
			alertWithFade(window.localStorage.getItem(alertOnLoadType), window.localStorage.getItem(alertOnLoadKey))
			window.localStorage.removeItem(alertOnLoadKey);
		}
		$(document).on('click','.hide-alert',function(){
			$(".alert-container").removeClass('display');
		})
	})
	function setAlertOnLoad(alertType, msg) {
		window.localStorage.setItem(alertOnLoadKey, msg);
		window.localStorage.setItem(alertOnLoadType, alertType);
	}
	function alertWithoutFade(alertType,msg){
		$(".alert-container").removeClass('display');
		if (alertType == 'success')
			alertType = 'info';
		var dynamicAlert = $('#alert-container').clone();
		dynamicAlert.find('.alert-message').html(msg);
		dynamicAlert.addClass('alert-' + alertType);
		dynamicAlert.appendTo($('body'))
		setTimeout(function(){
			dynamicAlert.addClass('display');
		},50)
	}
	function alertWithFade(alertType, msg){
		$(".alert-container").removeClass('display');
		if (alertType == 'success')
			alertType = 'warning';
		var dynamicAlert = $('#alert-container').clone();
		dynamicAlert.find('.alert-message').html(msg);
		dynamicAlert.addClass('alert-' + alertType);
		dynamicAlert.appendTo($('body'))
		setTimeout(function(){
			dynamicAlert.addClass('display');
		},50)
		setAlertToFadeOut(dynamicAlert);
	}
	function setAlertToFadeOut(alertToFade){
		setTimeout(function(){
			$(alertToFade).removeClass('display');
		}, 2500);
	}
</script>