<div class="alert-container">
	<div class="collapse">
		<div id="custom-alert" class="alert fade fade-alert show" role="alert" data-mousein="false">
			<button type="button" class="close alert-close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		  <span class="alert-message"></span>
		</div>
	</div>
</div>
<div id="installPrompt" class="alert alert-success py-2 px-1 install-pwa text-center" role="alert">
	<button id="closeInstallPrompt" type="button" class="close">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="row no-gutters">
		<div class="col">Standalone application mode now supported! <br>
			Tap the <img width="25px" th:src="@{/images/export-ios.png}"> icon and then <b>Add to homescreen</b> to (re)install application and begin using.
		</div>
	</div>
	<div class="fixed-install-arrow"><div class="arrow-down mx-auto"></div></div>
</div>

<script>
	$(document).ready(function(){
		$(document).on('click','.alert-close, .alert-close > span',function(){
			$(this).closest('#custom-alert').css('-webkit-transition-duration','0s');
			$(this).closest('#custom-alert').css('transition-duration','0s');
		})
	})
	function alertWithoutFade(alertType,msg){
		if (alertType == 'success'){
			alertType = 'info';
		}
		var dynamicElement = $('#custom-alert').clone();
		$(dynamicElement).find('.alert-message').html(msg);
		$(dynamicElement).addClass('alert-' + alertType);
		$(dynamicElement).appendTo($('.alert-container'));
	}
	function alertWithFade(alertType, msg){
		if (alertType == 'success'){
			alertType = 'warning';
		}
		var dynamicElement = $('#custom-alert').clone();
		$(dynamicElement).find('.alert-message').html(msg);
		$(dynamicElement).addClass('alert-' + alertType);
		$(dynamicElement).hover(function(){
			$(this).data('mousein',true);
		}, function(){
			$(this).data('mousein',false);
			setAlertToFadeOut(this);
		});
		$(dynamicElement).appendTo($('.alert-container'));
		setAlertToFadeOut(dynamicElement);
	}
	function setAlertToFadeOut(alertToFade){
		setTimeout(function(){
			if ($(alertToFade).data('mousein') == false){
				$(alertToFade).alert('close');
			}
		}, 3000);
	}
</script>