<th:block th:fragment="audioBox(song)">
	<div class="audio-box" th:classappend="${song?.recording == null}?'collapse':''">
		<div class="row no-gutters w-100 h-100">
			<div class="audio-img col-6 no-gutters">
				<img th:src="@{/images/play-inverse.png}">
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			$(document).on('click thouchstart','.audio-box',function(){
				var songRecording = $(this).closest('.song-page-container').find('.song-page.slick-active').first().data('recording');
				if (songRecording == null){
					songRecording == $(this).closest('.song-page-container').find('.song-page').first().data('recording');
				}
				if (songRecording != null){
					$('.audio-box').replaceWith('<audio class="song-page-audio" controls><source src="' + songRecording + '" type="audio/mpeg"></audio>');
					$('.song-page-audio')[0].play();
				}
			});
		});
	</script>
</th:block>
