<div id="categoriesControl" class="row no-gutters">
	<div class="col text-center">
		<ul class="ks-cboxtags">
			<li th:each="category: ${categories}">
				<input type="checkbox" th:id="${category.key}" th:value="${category.key}"><label class="faded-obj bg-info text-white" th:for="${category.key}" th:text="${category.value}"></label>
			</li>
		</ul>
	</div>
</div>
<script>
$(document).on('change','.ks-cboxtags input',function(e){
	refreshCategories();
})
function refreshCategories(){
	var selectedCategories = []
	$('.ks-cboxtags input').each(function(){
		if ($(this).is(':checked')){
			selectedCategories.push($(this).val());
		}
	})
	if (selectedCategories.length != 0) {
		$('.ks-cboxtags label').removeClass(['bg-info','text-white','faded-obj']);
		$('.song-row').each(function(){
			var cat = $(this).data('category').toString();
			if (!selectedCategories.includes(cat)){
				$(this).hide();
			} else {
				$(this).show();
			}
		});
	}
	else {
		$('.ks-cboxtags label').addClass(['bg-info','text-white','faded-obj']);
		$('.song-row').show();
	}
}

</script>