<script th:src="@{/js/lib/datatable.js}"></script>
<script th:inline="javascript" th:src="@{/js/page/organization/static.js}"></script>
<script th:inline="javascript" th:src="@{/js/lib/jszip.min.js}"></script>
<script th:src="@{/js/lib/jquery.dataTables.js}"></script>
<script th:src="@{/js/lib/pdfmake.min.js}"></script>
<script th:src="@{/js/lib/jspdf.debug.js}"></script>
<script th:src="@{/js/lib/dataTables.buttons.min.js}"></script>
<script th:src="@{/js/lib/buttons.html5.min.js}"></script>
<div class="collapse" id="downloadImg">
    <img th:src="@{/images/export.png}" width="18px">
</div>