<header>
	<div th:classappend="${
	#strings.contains(#httpServletRequest.requestURI,'home') || 
	#strings.contains(#httpServletRequest.requestURI,'login') ||
	#strings.equals(#httpServletRequest.requestURI,#httpServletRequest.contextPath + '/' ) ||
	#strings.contains(#httpServletRequest.requestURI,'addressbook')
	}? sticky-top-nav :top-nav">
		  <div sec:authorize="!isAuthenticated()">
		  	<a href="javascript:void(0)" onclick="login()" class="nav-fixed-text user-btn">Login</a>
		  </div>
		  <div sec:authorize="isAuthenticated()">
			  <div class="dropdown">
				  <a class="dropdown-toggle user-toggle nav-fixed-text user-btn logged-in" data-toggle="dropdown" href="#" sec:authentication="principal.fullName"><span class="caret"></span></a>
					<ul class="dropdown-menu dropdown-menu-right nav-dropdown-menu" style="margin-top:-18px">
	<!-- 		  		  <li><a class="dropdown-item" href="#" onclick="notImplimented()" >My Songs</a></li> -->
<!-- 						<li><a class="dropdown-item" href="javascript:void(0)" onclick="notImplimented()" >Preferences</a></li> -->
						<li><a class="dropdown-item" href="javascript:void(0)" onclick="inviteUser()">Invite User</a></li>
						<li><a class="dropdown-item" href="javascript:void(0)" onclick="changePassword()" >Change Password</a></li>
						<li sec:authorize="hasAuthority('SUPERADMIN')"><a class="dropdown-item" th:href="@{/logs}">User Feed</a></li>
						<li sec:authorize="hasAuthority('SUPERADMIN')"><a class="dropdown-item" th:href="@{/structured-logs}">Structured Logs</a></li>
						<li sec:authorize="hasAuthority('SUPERADMIN')"><a class="dropdown-item" target="_blank" th:href="@{/user-report}">User Report</a></li>
						<li sec:authorize="hasAuthority('SUPERADMIN')"><a class="dropdown-item" href="javascript:void(0)" onclick="notImplimented()">User Access Control</a></li>
						<li><a class="dropdown-item logout" href="javascript:void(0)" >Logout</a></li>
					</ul>
					<form id="logoutForm" th:attr="action=@{/logout}" method="POST"></form>
			  </div>
		  </div>
		  <div class="night-mode-switch float-right">
		  	<div class="toggle-btn" id="nightModeToggle">
			  <input type="checkbox" class="night-mode-input"
					th:with="nightModePreference=${T(com.sjwi.catalog.config.PreferencesConfiguration).NIGHT_MODE_PREFERENCE_KEY}"
					th:checked="${#session != null && #session.getAttribute(nightModePreference) != null && #session.getAttribute(nightModePreference)}">
			  <span>
			  </span>
			</div>
		  </div>
	</div>
	<div id="demoAlert" style="z-index:9999" class="alert collapse alert-warning text-center" role="alert" data-mousein="false">
		<button type="button" class="close alert-close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<span class="alert-message">This is a demo application. Any changes made will be overwritten on a regular interval, and all email features are disabled.</span>
	</div>
	<th:block th:replace="partial/alerts"></th:block>
	<th:block th:replace="partial/include"></th:block>
	
	<script th:inline="javascript">
		if (sessionStorage.getItem('demoAlert') == null) {
			$('#demoAlert').show()
			sessionStorage.setItem('demoAlert',true)
		}
		$(document).ready(function(){
			if (isInStandaloneMode()) {
				$('.back-btn').removeClass('collapse');
				$('.back-btn').addClass('showme');
			}
			$(document).on('show.bs.modal','.modal', function () {
				$('.back-btn').removeClass('showme');
			});
			$(document).on('hide.bs.modal','.modal', function () {
				$('.back-btn').addClass('showme');
			});
			$(document).on('click','#nightModeToggle',function(){
				if ($('.toggle-btn > input').is(':checked')){
					toggleNightMode(true);
				}
				else {
					toggleNightMode(false);
				}
			});
			$(document).on('click','.logout',function(){
				$('#logoutForm').submit();
			})
		});
		function toggleNightMode(setting){
			$.get(contextpath + 'toggle-night-mode?setting=' + setting, function(){
				location.reload();
			});
		}
		function hasTouch() {
  return 'ontouchstart' in document.documentElement
					|| navigator.maxTouchPoints > 0
					|| navigator.msMaxTouchPoints > 0;
	}

	if (hasTouch()) { // remove all the :hover stylesheets
		try { // prevent exception on browsers not supporting DOM styleSheets properly
			for (var si in document.styleSheets) {
				var styleSheet = document.styleSheets[si];
				if (!styleSheet.rules) continue;

				for (var ri = styleSheet.rules.length - 1; ri >= 0; ri--) {
					if (!styleSheet.rules[ri].selectorText) continue;

					if (styleSheet.rules[ri].selectorText.match(':hover')) {
						styleSheet.deleteRule(ri);
					}
				}
			}
		} catch (ex) {}
	}
	</script>
</header>