<th:block th:fragment="head(title)">
	<!DOCTYPE html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no maximum-scale=1.0,user-scalable=0, minimal-ui" />
		<meta name="apple-mobile-web-app-title" th:attr="content=${@environment.getProperty('com.sjwi.settings.app.properName')}">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title th:text="${title}"></title>
		<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
		<link th:if="${#session == null || #session.getAttribute(T(com.sjwi.catalog.config.PreferencesConfiguration).NIGHT_MODE_PREFERENCE_KEY) == null || !#session.getAttribute(T(com.sjwi.catalog.config.PreferencesConfiguration).NIGHT_MODE_PREFERENCE_KEY)}" rel="stylesheet" th:href="@{/css/bootstrap.css}" />
		<link th:if="${#session == null || #session.getAttribute(T(com.sjwi.catalog.config.PreferencesConfiguration).NIGHT_MODE_PREFERENCE_KEY) == null || !#session.getAttribute(T(com.sjwi.catalog.config.PreferencesConfiguration).NIGHT_MODE_PREFERENCE_KEY)}" rel="stylesheet" th:href="@{/css/colors.css}" />
		<link th:if="${#session != null && #session.getAttribute(T(com.sjwi.catalog.config.PreferencesConfiguration).NIGHT_MODE_PREFERENCE_KEY) != null && #session.getAttribute(T(com.sjwi.catalog.config.PreferencesConfiguration).NIGHT_MODE_PREFERENCE_KEY)}" rel="stylesheet" th:href="@{/css/bootstrap-dark.css}" />
		<link th:if="${#session != null && #session.getAttribute(T(com.sjwi.catalog.config.PreferencesConfiguration).NIGHT_MODE_PREFERENCE_KEY) != null && #session.getAttribute(T(com.sjwi.catalog.config.PreferencesConfiguration).NIGHT_MODE_PREFERENCE_KEY)}" rel="stylesheet" th:href="@{/css/colors-dark.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}"/>
		<link rel="apple-touch-icon" th:href="@{/images/icon_dark.png}">
		<link rel="stylesheet" th:href="@{/css/site.css}" />
		<link rel="stylesheet" th:href="@{/css/font-awesome.all.min.css}" />
		<link rel="stylesheet" th:href="@{/css/datatable.min.css}" />
		<link rel="stylesheet" th:href="@{/css/jquery.datatable.min.css}" />
		<link rel="search" th:href="@{/search.xml}" type="application/opensearchdescription+xml" th:attr="title=${@environment.getProperty('com.sjwi.settings.app.properName')}">
		<script th:src="@{/js/lib/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/lib/jquery-ui.min.js}"></script>
		<script th:src="@{/js/lib/bootstrap.bundle.js}"></script>
		<script th:src="@{/js/lib/jquery.ui.touch-punch.min.js}"></script>
		<script th:src="@{/js/lib/popper.min.js}"></script>
		<script th:src="@{/js/lib/slick.min.js}"></script>
		<script th:src="@{/js/site/site.js}"></script>
		<script th:src="@{/js/lib/select2.full.min.js}"></script>
		<script th:src="@{/js/lib/moment-with-locales.min.js}"></script>
		<script th:src="@{/js/lib/qrcode.min.js}"></script>
		<script th:src="@{/js/site/form-validation.js}"></script>
		<script th:src="@{/js/site/scroll.js}"></script>
		<script th:inline="javascript">
			if (location.protocol !== 'https:' && !location.href.includes('localhost') && !location.href.includes('elasticbeanstalk')) {
				location.replace('https:' + location.href.substring(location.protocol.length));
			}
			var contextpath = /*[[@{/}]]*/;
			var loggedInUser = /*[[${#authentication?.getPrincipal()}]]*/;
			var alertOnLoad = /*[[${ALERT_ON_LOAD}]]*/ false;
		</script>

		<th:block th:replace="modal/download"></th:block>
		<th:block sec:authorize="hasAuthority('USER')">
			<th:block th:replace="modal/change-password"></th:block>
			<th:block th:replace="modal/invite"></th:block>
			<th:block th:replace="modal/create-item"></th:block>
		</th:block>
		<th:block sec:authorize="!hasAuthority('USER')">
			<th:block th:replace="modal/login"></th:block>
			<th:block th:replace="modal/reset-password"></th:block>
			<th:block th:replace="modal/prompt-for-reset"></th:block>
			<th:block th:replace="modal/enroll"></th:block>
		</th:block>
	</head>
</th:block>