<div id="sideNav" class="side-nav">
  <a href="javascript:void(0)" class="close-nav nav-link text-white">&times;</a>
	<ul class="navbar-nav ml-2">
		<li class="nav nav-item active">
			<a class="nav-link text-white" th:href="@{/}">Home <span class="sr-only">Home</span></a>
		</li>
		<li class="nav-item song-catalog-nav">
			<a class="nav-link text-white" th:href="@{/songs}">Song Catalog</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white" th:href="@{/setlists}" >Set Lists</a>
		</li>
		<li class="nav-item" sec:authorize="hasAuthority('USER')">
			<a class="nav-link text-white" th:href="@{/addressbook}" >Address Book</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white pb-1 org-link" th:href="${orgs != null}? 'javascript:void(0)' : @{/orgs}" >Organizations</a>
		</li>
		<div class="org-sub-links collapse">
			<li class="nav-item sub-item" th:each="org : ${orgs}">
				<a class="nav-link text-white" th:href="@{/org/__${org.id}__}" th:text="${org.name}" ></a>
			</li>
			<li class="nav-item sub-item">
				<a class="nav-link text-white" th:href="@{/org/0}" th:text="${'Other'}" ></a>
			</li>
		</div>
	</ul>
</div>
<script>
	$(document).ready(function(){
		$('.nav-link.org-link').click(function(){
			if ($('.org-sub-links').is(':hidden')){
				$('.org-sub-links').slideDown();
			} else {
				location.href = contextpath + 'orgs';
			}
		});
	});
</script>