<div id="sideNav" class="side-nav text-left">
  <a href="javascript:void(0)" class="close-nav nav-link text-white">&times;</a>
	<ul class="navbar-nav ml-2">
		<li class="nav nav-item active">
			<a class="nav-link text-white" th:href="@{/}">Home <span class="sr-only">Home</span></a>
		</li>
		<li class="nav-item song-catalog-nav">
			<a class="nav-link text-white" th:href="@{/songs}">Song Catalog</a>
		</li>
		<li class="nav-item setlists-nav">
			<a class="nav-link text-white" href="javascript:void(0)">Set Lists</a>
		</li>
		<li class="nav-item" sec:authorize="hasAuthority('USER')">
			<a class="nav-link text-white" th:href="@{/addressbook}" >Address Book</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-white pb-1 org-link" th:href="${orgs != null}? 'javascript:void(0)' : @{/orgs}" >Organizations</a>
		</li>
		<div class="org-sub-links collapse">
			<li class="nav-item sub-item" th:each="org : ${orgs}">
				<a class="nav-link text-white" th:href="@{/org/__${org.id}__}" th:text="${org.name}" ></a>
			</li>
			<li class="nav-item sub-item">
				<a class="nav-link text-white" th:href="@{/org/0}" th:text="${'Other'}" ></a>
			</li>
		</div>
		<li class="nav-item">
			<a class="nav-link text-white pb-1 export" href="javascript:void(0)" onclick="exportDatabase()"><img width="19px" style="margin-top:-4px;" class="mr-2" th:src="@{/images/export.png}">Export Catalog</a>
		</li>
	</ul>
</div>
<script>
	$(document).ready(function(){
		$('.nav-link.org-link').click(function(){
			if ($('.org-sub-links').is(':hidden')){
				$('.org-sub-links').slideDown();
			} else {
				location.href = contextpath + 'orgs';
			}
		});
		$('.setlists-nav').click(function(){
			if ($('#setlistMaybeHidden:visible').length == 0){
				if ($(window).width() <= 900) {
					window.localStorage.setItem('home-focus', 'setlist')
					window.location.href = contextpath
				} else {
					window.location.href = contextpath + 'setlists';
				}
			} else {
				$('.home-page').scrollLeft($('.home-page')[0].scrollWidth);
				setTimeout(function() {
					$('.close-nav').click();
				}, 0);
			}
		})
	});
</script>