<th:block th:fragment="offNavBar(title)">
	<nav id="offNav">
		<div class="row pr-2 no-gutters flex-nowrap off-navline">
			<div class="col-5 d-flex off-nav-cluster">
				<a th:href="@{/}"><img border="0"
					th:src="@{/images/favicon_white.png}"  class="logo-sm dark-swap mt-1 mb-1 ml-2 mr-1" alt="Logo"></a>
				<th:block th:replace="partial/navbar"></th:block>
				<div class="centered-search-bar pl-3">
					<th:block th:replace="partial/collapsed-search-bar :: searchBar('search/song','','song catalog','songSearch2','#songTableContainer')"></th:block>
				</div>
			</div>
			<div class="col-2 justify-content-center off-nav-title static-song-page-title w-100">
				<span th:if="${title == 'addSong'}">
<!-- 					<span class="base-title">Song Catalog</span> -->
					<div sec:authorize="hasAuthority('USER')" class="btn add-item-btn pb-1" onclick="createSong();" data-toggle="tooltip" data-placement="bottom" title="Add new song"><img class="add-song-img pb-1" width="25px" th:src="@{/images/plus-inverse.png}"></div>
				</span>
				<span th:if="${title == 'addSetList'}">
<!-- 					<span class="base-title">Set Lists</span> -->
					<div sec:authorize="hasAuthority('USER')" class="btn add-item-btn pb-1" onclick="createSetList();" data-toggle="tooltip" data-placement="bottom" title="Add new Set List"><img class="add-song-img pb-1" width="25px" th:src="@{/images/plus-inverse.png}"></div>
				</span>
				<span th:if="${title != 'addSong' && title != 'addSetList' && title != 'addSetListMin'}">
					<span class="base-title" th:text="${title}"></span>
				</span>
			</div>
		</div>
	</nav>
</th:block>