<div class="zoom-box">
	<div class="row no-gutters w-100 h-100 zoom-val-row">
		<th:block th:with="fontScale=${T(com.sjwi.catalog.config.PreferencesConfiguration).FONT_SIZE_PREFERENCE_KEY}">
			<th:block th:with="fontScaleSuffix=${#session == null || #session.getAttribute(fontScale) == null? '100': #session.getAttribute(fontScale)}">
				<div class="zoom-val no-gutters zoom-col"><span id="zoomPerc" th:text="${fontScaleSuffix}">100</span><span>%</span></div>
			</th:block>
		</th:block>
		<div class="zoom-min zoom-min-sel col-6 no-gutters zoom-col">
			<div class="zoom-btn">
				<i class="fa-solid fa-magnifying-glass-minus"></i>
			</div>
		</div>
		<div class="zoom-plus zoom-plus-sel col-6 no-gutters zoom-col">
			<div class="zoom-btn">
				<i class="fa-solid fa-magnifying-glass-plus"></i>
			</div>
		</div>
	</div>
</div>