<div class="zoom-box">
	<div class="row no-gutters w-100 h-100">
		<div class="zoom-min col-3 no-gutters">-</div>
		<div class="zoom-val col-6 no-gutters"><span id="zoomPerc">100</span><span>%</span></div>
		<div class="zoom-plus col-3 no-gutters">+</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('.zoom-min').click(function(e){
			if (parseInt($('#zoomPerc').html()) > 30){
				var songBodys = $(this).closest('.song-page-container').find('.song-body');
				$(songBodys).each(function(){
					var currentFont = parseInt($(this).css("font-size"));
					$(this).css({'font-size':currentFont - 2 + 'px'});
				});
				$('#zoomPerc').html(parseInt($('#zoomPerc').html()) - 10);
			}
			$('.wrapper').css('height','auto');
			$('.wrapper').css('height',$(document).height() - 30);
		});
		$('.zoom-plus').click(function(e){
			if (parseInt($('#zoomPerc').html()) < 200){
				var songBodys = $(this).closest('.song-page-container').find('.song-body');
				$(songBodys).each(function(){
					var currentFont = parseInt($(this).css("font-size"));
					$(this).css({'font-size':currentFont + 2 + 'px'});
				});
				$('#zoomPerc').html(parseInt($('#zoomPerc').html()) + 10);
			}
			$('.wrapper').css('height',$(document).height() - 30);
		});
	});
</script>