:root {
	--default-header-size: 40.45px;
}
hr {
	margin-top: 2px !important;
	background-color: var(--main-text-color) !important;
	opacity:.1;
}
.bg-custom {
	background-color: var(--secondary-bg-color);
}
.mh-100vh {
	min-height: 100vh;
}
.logo{
	opacity:1;
	width:75px;
	margin: .3rem .3rem .3rem .3rem;
}
.logo:hover {
	opacity: .75;
}
.logo-sm {
	opacity:.95;
	width:32px;
}
.logo-sm:hover {
	opacity:.75;
}
.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: var(--icon-bar-color);
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
#offNav .icon-bar {
	background-color: #fff !important;
	opacity:.80;
}
#offNav .navbar-toggler:hover .icon-bar{
	opacity: .5;
}
.user-btn {
	font-size: 1rem !important;
	color: #fff !important;
}
.navbar-default, .navbar-collapse {
	white-space:nowrap !important;
}
#offNav {
	background: var(--offnav-bg-color);
	-webkit-background-clip: padding-box;
}
.off-navline {
	border-bottom: 1px solid rgba(45, 71, 82, .5);
}
.nav-link:hover {
	opacity:.8;
}
.nav-item.sub-item a.nav-link {
	font-size:1rem;
	margin-left:1.5rem;
	padding-top:.25rem;
	padding-bottom:.25rem;
}
.title-link {
	text-decoration: none !important;
	color: var(--main-text-color);
}
.header-text {
	color: var(--main-text-color);
}
.title-link:hover {
	color: var(--main-text-color);
	text-decoration: none !important;
}
a {
	color: #00A8DF;
}
a:hover {
	color: #004F70;
}
.navbar-toggler {
  border: none;
  background: transparent !important;
}
.invalid-form-input {
	border: 1px solid !important;
	border-color: red !important;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: .75;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
.nav-menu{
	margin-left:9px;
	margin-top:4px;
}
.navbar-collapse a{
	color: var(--navbar-menu-item-color);
}
#offNav .navbar-collapse a {
	color: #fff;
}
.navbar-collapse a:hover{
	color:var(--main-text-color);
}
.side-nav{
	height:100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	transition: 0.5s;
	padding-top: 60px;
	background-color: var(--secondary-bg-color);
	z-index: 2147483645 !important;
}
.side-nav a.nav-link {
	margin-left:1rem;
	margin-right:1rem;
	font-size:1.25rem;
	overflow-x:hidden;
	white-space: nowrap;
}
.side-nav .close-nav {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 2.5rem !important;
  margin-left: 50px;
  padding-right: 0;
}
.slide-in {
	width: 225px;
	border-right: 1px solid rgba(45, 71, 82, .5);
}
#setListNav {
	z-index:30; background-color: var(--secondary-bg-color);
}

#songNav {
	z-index:30; background-color: var(--main-bg-color);
}
.sticky-top-nav {
	transition: top 0.3s;
	position: fixed;
    top:0;
    right:0;
    z-index: 2500;
    margin-right: 10px;
}
#songNav.sticky-top, #setListNav.sticky-top, #addressBookEntries.sticky-top {
	position: fixed;
	top:0;
	width:50%;
}
.modal-backdrop {
	z-index: 3000 !important;
}
.modal {
	z-index: 3001 !important;
}
.modal-dialog-centered {
	margin-top: 0 !important;
}
.address-book.song-section .ab-header {
	z-index:30;
	background-color:var(--main-bg-color);
}
.address-book.setlist-section .ab-header {
	z-index:30;
	background-color:var(--secondary-bg-color);
}
.address-book.song-section  .container{
	margin-top: 102px;
}
.home-page .song-section > .container {
	margin-top: 137px;
}
.home-page .setlist-section > .container {
	margin-top: calc(102px - .4rem + 1rem);
}
.modal {
	top:35px !important;
	z-index: 2147483645;
	padding-bottom:35px !important;
}
.modal-dialog.modal-md {
	max-width:550px;
	width:550px;
}
.grey-bg {
	background-color: var(--primary-grey) !important;
}
.wrapper {
	width: 100%;
	background-color: var(--primary-grey) !important;
	height:calc(100vh + var(--default-header-size));
}
#setListBody .wrapper, #setListsBody .wrapper {
	background-color: var(--secondary-bg-color) !important;
}
#setListBody #offNav > .row, #setListsBody #offNav > .row, #errorBody #offNav > .row{
	border-bottom:none !important;
}
.btn-group-xs > .btn, .btn-xs {
  padding: .35rem .4rem !important;
  font-size: 1rem !important;
  line-height: .5 !important;
  border-radius: .2rem !important;
}

.small-font {
	font-size:.75rem !important;
}
.set-list-container {
	-webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
	font-size:.8rem;
	width:94%;
	max-width:450px;
	min-height:200px;
	display:inline-block;
	position:relative;
	background: var(--main-bg-color);
	padding: 20px 20px 35px 20px;
	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
}
.focused-set-container {
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2) !important;
}
.set-list-container .btn-sm {
	font-size:.7rem !important;
}
.set-list-container > .edit-set {
	opacity: 1 !important;
	font-size:2.25rem !important;
	position:relative;
	top:-20px;
}
.song-catalog-row {
	height: calc(100vh + var(--default-header-size));  
	overflow:hidden;
}
.song-catalog-row > .song-column {
	scrollbar-width:none !important;
	overflow:scroll;height:calc(100vh + var(--default-header-size)) !important;
}
.song-catalog-row > .version-column {
	scrollbar-width:none !important;
	overflow:scroll;height:calc(100vh + var(--default-header-size)) !important;
}
.version-column .container {
	background-color:  var(--primary-grey);
}
.edit-focused-song img {
	margin-top:.15rem;
}
.set-song-row .action-btn{
	padding-top:0px !important;
	left:0px;
}
.set-song-row .action-btn-container {
	margin-top:1px
}
.set-row-hover {
	box-shadow: var(--set-row-hover);
}
.set-table-hover {
	box-shadow: var(--set-table-hover);
}
.set-list-title {
	font-size:1.15rem;
	text-decoration:underline;
	margin-bottom:10px;
}
.set-list-dl {
	margin-top: .05rem;
}
.set-list-container:hover{
	cursor:pointer;
	background: var(--secondary-grey);
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4);
}
.set-list-container > .action-container {
	position:absolute;
	bottom:0;
	max-height:0;
	overflow:hidden;
	background: var(--action-container-bg);
	transition:max-height 250ms ease-in;
	max-width:450px;
	width:100%;
	margin-left:-20px;
	opacity:.7;
}
.set-list-container > .action-container  .col:hover {
	background: var(--action-container-hover);
	opacity:.9;
}
.set-list-container:hover > .action-container {
	max-height:40px;
}
.set-list-container:active {
/* 	box-shadow:none; */
}
.edit-song-form {
	border: 1px solid;
	border-color: var(--primary-grey);
}
.custom-key-select {
	min-width:55px;
	max-width:60px;
}
.modal-page-container {
	border:1px solid; border-color:var(--primary-grey); max-height:700px !important;
}
.song-action-container {
	height: 3rem;
	position: relative;
	width:700px;
	margin: auto auto;
}
.song-action-container:hover {
	cursor:pointer;
}
.song-action-container .d-table-cell:hover {
	background: var(--dark-grey);
	opacity:.9;
}
.song-action-container .d-table-cell{
	width:16% !important;
}
.song-action-container .dropdown-menu {
	background:none !important;
	opacity: 1 !important;
    background-color: var(--main-bg-color) !important;
    background-image: none !important;
}
.song-action-container .dropdown-menu > li > a {
    background-color: var(--main-bg-color) !important;
}
.set-list-container .dropdown-menu-right {
	margin-right: -25px !important;
}
.transpose-key {
	font-size:1.75rem; color:#fff; width:100% !important;
}
.transpose-key.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .2em solid;
    border-right: .2em solid transparent;
    border-left: .2em solid transparent;
}
.version-control-table {
	max-width:500px;
	margin:auto;
	color: var(--strong-text-color) !important;
}
.version-control-table:hover {
	cursor:pointer;
}
.version-control-table  tr:hover:not(.selected) {
	background-color:var(--secondary-grey) !important;
}
.version-control-row.selected {
	background-color: var(--primary-grey) !important;
}
.user-toggle  {
	color:white !important;
}
.dropdown-menu li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-menu a, .dropdown-menu a:active {color: var(--strong-text-color)}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
.nav-dropdown-menu {
	top:20px !important;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
.top-nav {
	transition: top 0.3s;
    position: absolute;
    top:0;
    right:0;
    z-index: 4000;
    margin-right: 10px;
}
.top-nav .navbar-brand, .sticky-top-nav .navbar-brand {
	color: #fff;
}
.dropdown-menu > a:hover, .dropdown-menu > li > a:hover {
	background-color:var(--secondary-grey);
	color: var(--dark-grey);
}
body {
	height:100vh;
	min-height:100vh;
	scrollbar-width:none !important;
}
.song-page-container{
	scrollbar-width:none !important;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
	position: relative;
	margin: auto auto;
	overflow-x: hidden;
	width: 700px;
	height:calc(98vh);
	min-height:600px;
	max-height:900px;
	background-color:var(--main-bg-color);
	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
	z-index:1032;
}
.off-nav-title,.off-nav-title > span > div {
/* 	padding-top:25px; */
	font-size:1.5rem;
}
.song-page-container:hover.hover{
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
	cursor:pointer;
}
.song-page {
	scrollbar-width:none !important;
	padding: 5px 20px 20px 20px;
	height:100%;
	overflow:scroll;
	margin-top:1.25rem;
}
.song-page > .song-title{
	display:inline-block;
	font-size:1.25rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width:100% !important;
	width:100% !important;
}
.focused-page {
	position: fixed !important;
	height:98vh !important;
	transform: translate(-350px, -3.2rem);
	z-index: 2147483644;
}
.zoom-box {
  -webkit-transition: all 1s ease;
	-webkit-user-select: none;
	padding:0 0 0 0;
	z-index:4;
	position: absolute;
	top: 1px;
	right:1px;
	width:90px;
	height: 30px;
	color:white;
	opacity: .3;
}
.zoom-box:hover {
	opacity: .7;
	cursor:pointer;
}
.zoom-box .zoom-min:hover,.zoom-box .zoom-plus:hover{
	transition:0.5s;
	background: var(--black-0);
	opacity:1;
}
.zoom-box  .zoom-min {
	padding-top:3px;
	height:100%;
	border-radius: 100px 0 0 100px;
	background: var(--action-container-bg);
}
.zoom-box  .zoom-val {
	padding-top:5px;
	font-size:.8rem;
	height:100%;
	cursor:default;
	background: var(--action-container-bg);
}
.zoom-box  .zoom-plus {
	padding-top:2px;
	height:100%;
	border-radius: 0 100px 100px 0;
	background: var(--action-container-bg);
}
.audio-box img{
	width:40px;
}
.audio-box {
	background: var(--action-container-bg);
	-webkit-transition: all 1s ease;
	-webkit-user-select: none;
	padding:0 0 0 0;
	z-index:4;
	position: absolute;
	top: 1px;
	left:1px;
	width:40px;
	height:40px;
	border-radius: 100%;
	color:white;
	opacity: .3;
}
.audio-box:hover {
	opacity: .7;
	cursor:pointer;
}
.song-page-audio:focus{ outline: none; }
.song-page-audio{
	-webkit-transition: all 1s ease;
	-webkit-user-select: none;
	padding:0 0 0 0;
	z-index:5;
	position: absolute;
	top: 5px;
	left:0px;
	height:30px;
	opacity:.3;
}
.song-page-audio:hover{
	opacity:1;
}
.version-container{
	font-size:7px;
	position: relative;
	margin: auto auto;
	overflow:hidden;
	width: 185px;
	height:250px;
	background-color:var(--main-bg-color);
	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
	z-index:1032;
}
.version-container > .version-body {
	max-height: 170px !important;overflow:hidden;
}
.version-container > .version-body > .song-body{
	padding: 0 15px 15px 15px;
}
.version-container .add-version-img {
	padding-top:100px;
}
.version-container:hover {
	cursor:pointer;
}
.version-container.selected {
	border: 1px solid;
	border-color: var(--version-selected);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.version-container.new-version {
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;	
    background-color: var(--version-bg-color);
    opacity:.7;
}
.version-container.new-version:hover {
    background-color: var(--version-bg-color-hover);
	box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    opacity:1;
}
.version-container.new-version:active {
	box-shadow: none;
}
.version-indicator {
	margin-top:-.65rem;
}
.hover-background {
	background-color: var(--primary-grey) !important;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5) !important;
  z-index: 1031 !important;
  display:block !important;
  opacity:1 !important;
}
p.song-body {
	text-align:left;
	white-space:pre;
	overflow:hidden;
	padding: 0 0 30px 30px;
}
.container {
	overflow:hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    display:none;
}
.col-md-4 label {
	padding-top:5px;
}
.col-md-1 label {
	padding-top:5px;
}
.modal-backdrop{
	opacity:0.7 ;
}
.alert-container{
	z-index: 2147483645;
	position: fixed;
	top: 10px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}
.alert-close {
	position:absolute;
	top: 0;
	right:3px;
	padding-right:2px;
}
#custom-alert > span {
	word-wrap: break-word;
	max-width:95%;
}
.fade-alert {
    -webkit-transition-duration: 2s; /* Safari */
    transition-duration: 2s;
}
.btn-dark {
	color:white !important;
	cursor: pointer;
}
#pageTitle {
	margin-top:1rem;
	margin-bottom:1rem;
}
#pageTitle span {
	font-size:2rem;
	font-weight:100 !important;
} 
.song-row {
	font-size:1.25rem;
	cursor:pointer;
	min-height:49px !important;
}
.song-row > td {
	vertical-align:middle !important;
}
.song-row .song-grip{
	position:relative;
	display:inline-block;
}
.song-row > td > span, .set-song-row > td > span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
}
.set-song-row > td > span {
	width:calc(100% - 200px) !important;
}
.set-song-row.ab-row > td > span {
	width:calc(100% - 270px) !important;
}
.song-row.selected{
	background-color:var(--secondary-grey);
}
.song-dropdown-btn {
	padding-top:14px !important;
}
.song-row > td > span {
    width: 90%;
	font-size: 1rem;
}
.set-song-row > td > span.ab {
	width:50%;
}
.set-song-row > td > span.ab {
	width:175px;
}
.song-catalog-table .song-row td > span {
	padding-left:10px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: var(--secondary-grey);
}
.song-section, .setlist-section {
	scrollbar-width:none !important;
	overflow:scroll;
	scrollbar-width:none !important;
	height:100vh;
	width: 100%;
}
.left-side{
	scrollbar-width:none !important;
	width:100%;
	flex: 1 3 250px;
	height:calc(100vh);
}
.right-side{
	width:100%;
	scrollbar-width:none !important;
	flex: 1 0 800px;
	height:calc(100vh);
}
.loading {
	opacity: .25;
	pointer-events:none;
}
.song-section {
	background: var(--main-bg-color);
}
.setlist-section{
	background: var(--secondary-bg-color);
}
.left-download-modal, .right-download-modal{
	scrollbar-width:none !important;
	width:100%;
}
.left-download-modal:hover, .right-download-modal:hover {
	cursor:pointer;
}
.download-tab.selected {
	background-color: var(--primary-grey);
}
.download-tab-row {
	border: .5px solid rgb(128, 128, 128 ,.3);
}
.action-btn{
	padding-top:.4px;
	display:inline-block;
	border-radius: 100%;
	width:22px; height: 22px;
	background-color: var(--deep-grey);
}
.action-btn:hover {
	background-color: var(--dark-grey);
}
.set-grip{
	display:inline-block;
	margin-right: 5px;
	position:relative;
	width:auto;
	margin-left:0;
	height: auto
}
.grip-container:hover {
	cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.grip-container:active {
	cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
}
.grip-container:hover svg {
	fill: var(--dark-grey);
}
.grip-container > svg {
	fill:var(--deep-grey);
	margin-top:-13px;
}
#songCatalogBody .song-grip-container {
	display:none !important;
}
#songCatalogBody .song-dropdown-btn {
	padding-right: .5rem !important;
}
.off-home-header {
	height: 40px;
}
.song-header, .setlist-header, .off-home-header{
	height: 60px;
	font-size:1.75rem;
	color: var(--main-text-color);
}
.song-section .search-input, .setlist-section .search-input {
	margin-left: 25%; 
}
.search-input {
	width:100% !important;
	border-radius:20px !important;
	font-size:.8rem !important;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.offnav-left-header{
	position:absolute; margin:auto auto; top:80px; left:0; right:50%; width:300px;
	z-index:100;
	max-width:65%;
}
.offnav-right-header{
	position:absolute; margin:auto auto; top:80px; left:50%; right:0; 
	text-align:center;
	font-size:1.5rem;
	z-index:100;
}
.search-glass {
	width:23px;
	opacity: 1;
}
.search-glass:hover {
	cursor: pointer;
	opacity: .75;
}
.collapsed-search > .search-input {
	min-width: 200px !important;
	flex-wrap:wrap;
	width:100%;
}
@keyframes slide {
    from { left: -20%; opacity: 0;}
    to { left: 0%; opacity: 1;}
}
@-webkit-keyframes slide {
    from { left: -20%; opacity: 0;}
    to { left: 0%; opacity: 1;}
}
.sliding {
    animation-name: slide;
    animation-duration: .5s;
    -webkit-animation-name: slide;
    -webkit-animation-duration: .5s;
}
.max-z {
    z-index: 2147483644 !important;
}
.min-z {
    z-index: 1 !important;
}
.centered-search-bar{
	display: flex;
	max-width:300px;
	z-index: 100;
}
.off-nav-cluster {
	z-index: 201;
}
.add-item-btn {
	padding: 0 0 0 0 !important;
	border:none !important;
}
.add-song-img.adjusted-m {
	margin-left: -.2rem;
	margin-right: -.2rem;
}
.btn-light {
	background-color: var(--main-bg-color) !important;
	win-width:80px !important;
}
.btn-light:hover {
	background-color: var(--deep-grey) !important;
}
.modal-container{
	display:contents;
}
.template-container{
	display:contents;
}
.hr-set-list {
	margin-top:6px;
	background-color:var(--main-bg-color);
}
.hr-song{
	margin-top:6px;
	background:transparent;
}
.close-dark {
	color: var(--main-text-color);
}
.setlists-add-btn {
	margin-bottom:.6rem;
}
.setlists-add-btn > .add-item-btn {
	opacity:0;
	pointer-events:none;
}
.notification-message {
	color: var(--secondary-bg-color);
	font-size:.85rem;
}
input[type=checkbox]{
	width:20px !important;
}
.form-max-width{
	max-width:500px;
	width:100%;
}
.modal-body.email .select2-selection{
	max-height:100px!important;
	overflow:scroll !important;
}
li.select2-selection__choice,li.select2-results__option {
	color: #4B4B4B !important;
}
span.select2-container {
	z-index :4001 !important;
}
iframe,.select2-selection.select2-selection--multiple, .select2-dropdown.select2-dropdown--below{
	background-color: var(--form-ctrl-bg) !important;
}
label.v-center {
	height:22px;
	position:absolute;
	margin-top:-11px;
	top:50%;
}
.song-tips-btn {
	margin-left:.5rem;
	color:#00b3ff;
}
.song-tips-btn:hover {
	cursor:pointer;
	color: #004f70;
}
.tooltip {
	z-index:5000 !important;
	opacity:1 !important;
}
.tooltip-inner {
	width:820px;
	max-width:820px !important;
}
.song-tips {
	width:800px;
	padding: 20px 20px 40px 0px;
}
.song-tips img {
	width:100%;
}
.scroll-me {
	overflow-y: scroll !important;
}
.static-song-page-title div {
	color: var(--main-text-color);
}
.static-song-page-title {
	display:flex;
	color: var(--main-text-color);
	z-index:200 !important;
}
.static-song-page-title > span {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.static-song-page-title img {
	opacity: .85;
}
.static-song-page-title img:hover {
	opacity: .65;
}
.dynamic-song-page-title, .dynamic-search-bar {
	display:none;
}
.song-title-link {
	color:var(--strong-text-color);
	text-decoration:underline;
}
.song-title-link:hover, .song-title-link:active {
	color:var(--main-text-color);
}
#addressBookBody > .main > .col-lg-6 .table-hover{
	min-height: 100vh;
}
#addressBookBody .song-dropdown-btn ul{
	overflow:visible;
}
.ab-title-min {
	display:none;
}
.minor-title {
	font-size: 1.25rem;
	color: var(--main-text-color);
}
.row.address-book-tab {
	display:none;
	border-top: .5px solid rgb(128, 128, 128 ,.3);
	border-bottom: .5px solid rgb(128, 128, 128 ,.3);
}
.ab-entry-info {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-right:10px;
}
.create-tab {
	border-bottom: .5px solid rgb(128, 128, 128 ,.3);
}
.row.address-book-tab:hover, .create-tab:hover {
	cursor:pointer;
}
.ab-tab-selector, .create-tab > .tab {
	background-color: var(--main-bg-color);
}
.ab-tab-selector.focused, .create-tab > .tab.selected {
	background-color: var(--primary-grey);
}
.song-table {
	min-height:200px;
}
.footnotes{
	font-size:.65rem;
	font-style: italic;
}
.form-control,.custom-select,.custom-file-label {
	background-color: var(--form-ctrl-bg) !important;
	color: var(--form-ctrl-text) !important;
}
.form-control::placeholder,.custom-select::placeholder,.custom-file-label::placeholder {
	color: var(--form-ctrl-ph) !important;
}

.toggle-btn
{
    position: relative;
    width: 25px;
    height: 10px;
    margin: 0 auto;
    margin-top:3px;
    border-radius: 40px;
    z-index:20;
}

.toggle-btn>input[type="checkbox"]
{
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

/* First toggle btn */

#nightModeToggle span
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: var(--secondary-grey);
    box-shadow: 0px 0px 3px #d9d9d9;
    border-radius: 40px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

#nightModeToggle span:before,#nightModeToggle span:after
{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

#nightModeToggle span:before
{
    background-color: #fff;
    transform: translate(-15px,0px);
    z-index: 1;
}

#nightModeToggle span:after
{
    background-color: var(--secondary-bg-color);
    transform: translate(0px,0px);
    z-index: 0;
}

#nightModeToggle input[type="checkbox"]:checked + span
{
    background-color: #000;
}

#nightModeToggle input[type="checkbox"]:active + span
{
    opacity: 0.5;
}

#nightModeToggle input[type="checkbox"]:checked + span:before
{
    background-color: #000;
    transform: translate(19px,-2px);
}

#nightModeToggle input[type="checkbox"]:checked + span:after
{
    background-color: #fff;
    transform: translate(15px,0px);
}

.transpose-confirm {
	width: 96px; height:50px; position:absolute; z-index:9999;
	border: 1px solid rgba(184, 184, 184,.9);
}
.transpose-confirm div {
	width:100%;
	height:100%;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}
.transpose-local {
	right: 83px;
	border-radius: 5px 0px 0px 5px !important;
}
.transpose-global {
	right: -12px;
	border-radius: 0px 5px 5px 0px !important;
}
.transpose-btn {
	font-size:.75rem;
}
.external-link {
	stroke:#3498DB !important;
	fill:#3498DB !important;
}
#addSongFromSelectModal .modal-body {
	overflow:hidden;
	white-space:nowrap !important;
	text-overflow:ellipsis;
}

.next-slide {
	right:0;
}
.slide-arrow {
	min-width: 4rem;
	height:100%;
	position:absolute;
	z-index:3;
}
.slide-arrow svg {
	top:50%;
	height:30px;
	width:30px;
	position:relative;
	stroke:var(--main-text-color);
	fill:var(--main-text-color);
	opacity:.50;
}
.previous-slide svg {
	float:left;
}
.next-slide svg {
	float:right;
}
.slide-arrow:hover {
	cursor:pointer;
}
.slide-arrow:hover svg {
	opacity:1 !important;
}
.setlist-section.error {
	height: 100vh !important;
}
.setlist-section.error .set-list-container{
	top:calc(40% - 150px);
}
.dl-copy-btn > img{
	padding-bottom:2px;
}
.dl-qr>.col {
	min-height:256px;
}



@font-face {
	font-family: "Font Awesome 5 Free";
	src: url("/webfonts/fa-regular-400.eot");
	src: url("/webfonts/fa-regular-400.woff") format("woff"),
	url("/webfonts/fa-regular-400.ttf") format("truetype"),
	url("/webfonts/fa-regular-400.svg#filename") format("svg");
}
.custom-border-top {
	border-top: .5px solid rgb(128, 128, 128 ,.3);
}

.custom-border-bottom {
	border-bottom: .5px solid rgb(128, 128, 128 ,.3);
}
ul.ks-cboxtags {
	margin-bottom: 0;
	padding: 0 0 0 0 !important;
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
	font-size:.75rem;
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 2px 11px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid var(--secondary-border-color);
    background-color: var(--secondary-bg-color);
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.pdf-options {
	margin-top: -5px;
}

#organizationsBody .off-navline {
	border-bottom-style: none !important;
}
.org-btn:hover {
	opacity:.75;
}
.copy-org-link {
	max-width:50%;
}
.copy-text, .copy-text div {
	min-width: 49px;
}
.copy-text:hover {
	cursor:pointer;
	opacity:.9;
}
.input-group-append > div {
	transition: background-color 1s ease;
}
.copy-checkmark {
	color:#fff !important;
	font-weight:900;
	padding-left:5px;
}
.org-permalink > .input-group-prepend > span{
	width:175px;
	font-weight:bold;
}

span.short-word {
	display:none;
}
table > thead > tr > th[class*="sort"]:before,
table > thead > tr > th[class*="sort"]:after {
    content: "" !important;
}
.dataTables_wrapper {
	border-right: 1px solid rgb(75,75,75,.2);
	border-left: 1px solid rgb(75,75,75,.2);
	border-bottom: 1px solid rgb(75,75,75,.2);
}
@media screen and (max-width:1450px) {
	.song-page-container, .song-action-container {
		width:95%;
		max-width: 700px;
	}
	.song-section .search-input, .setlist-section .search-input {
		margin-left:0;
	}
}
@media screen and (max-width: 1245px) {
	.version-column{
		display:none !important
	}
	.off-nav-title {
	  font-size:1.35rem;
	}
	#songCatalogBody .song-page-container {
		height: auto;
		max-height:none;
		min-height: calc(100vh - 50px);
	}
	.song-details .container {
		overflow-y:scroll;
	}
	#songCatalogBody .static-song-page-title {
		margin-left:17%;
	}
}
@media screen and (max-width: 1100px) {
	.set-list-container> .action-container {
		max-height:40px;
	}
	.slide-arrow svg {
		width:20px;
		height:20px;
	}
	.slide-arrow:hover {
		cursor:pointer;
		opacity: 1 !important;
		background: none !important;
	}
	.slide-arrow:hover svg {
		opacity:.75 !important;
	}
	.slide-arrow-hover {
		opacity:.25;
		background: var(--primary-grey);
		background: linear-gradient(to bottom,rgba(214, 214, 214,0), rgba(214, 214, 214,1) 50%, rgba(214, 214, 214,0)) !important;
	}

	.song-page-container {
		height: auto;
		max-height:none;
		min-height: calc(100vh - 50px);
	}
	.song-body {
		font-size:1rem;
		padding-left:10px !important;
	}
	.setlists-song-container, .offnav-right-header {
		display:none !important;
	}
	#setListsBody .setlists-page {
		background-color: var(--secondary-bg-color) !important;
	}
	#setListsBody .off-navline {
		border-bottom-style: none !important;
	}
	.offnav-left-header {
		right: 0 !important;
	}
	.setlists-add-btn > .add-item-btn {
		opacity:1;
		pointer-events: auto;
	}
	.focused-set-container {
		box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4) !important;
	}
	.wrapper.setlists-page {
		height:calc(100vh - var(--default-header-size));
	}
	#setListsBody #offNav {
		position: fixed !important;
		transition: top 0.3s;
		width: 100% !important;
		z-index:2000;
	}
	.setlists-page.wrapper {
		height:fit-content !important;
	}
	#setListsBody .setlists-page {
		padding-top: 40.3px;
	}
	#setListsBody .top-nav {
		position:fixed !important;
	}
}
@media screen and (max-width: 1000px) {
	.song-tips-btn {
		display:none !important;
	}
}
@media screen and (max-width:991px){
	.org-permalink span.input-group-text {
		padding-left:.2rem;
		padding-right:.2rem;
	}
	.org-permalink, .org-permalink div, .org-permalink span, .org-permalink input {
		font-size:1rem !important;
	}
	.org-permalink .input-group-prepend {
		height:auto !important;
	}
	.address-book.song-section  .container{
		margin-top: calc(102px + 2rem);
	}
	#setListDetailsHeader .off-nav-title{
		display:none;
	}
	.left-side.setlist {
		height:auto !important;
	}
	.right-side.setlist {
		flex: 0 0 100% !important;
	}
	.song-page-container.setlist {
		width:98%;
		margin-left:auto;
		margin-right:auto;
	}
	.song-page-container.focused-page {
		-webkit-transition: all .75s ease;
		-moz-transition: all .75s ease;
		-o-transition: all .75s ease;
		-ms-transition: all .75s ease;
		transition: all .75s ease;
		position: fixed !important;
		height:calc(98vh) !important;
		left:0;
		margin-top:0 !important;
		margin-bottom:0 !important;
		right:0;
		top:100vh;
		margin:auto;
		transform: translateY(-99vh);
		z-index: 2147483645;
	}
	.address-book.setlist-section{
		display: none;
	}
	.row.address-book-tab {
		display: flex;
	}
	.modal-dialog.modal-xl {
		width:95%;
		margin-left: auto !important;
		margin-right: auto !important;
		max-width:none !important;
	}
	.ab-title-min {
		display:block;
		font-size: 1.35rem;
		padding-top:10px;
	}
	.off-nav-title.ab-title-full {
		display:none;
	}
	.ab-group-container {
		margin-top:1rem;
		border: .5px solid rgb(128, 128, 128 ,.3);
	}
	#addressBookEntries.sticky-top {
		width: 100%;
	}
	#addressBookBody .ab-header {
		position: fixed !important;
		transition: top 0.3s;
		width: 100% !important;
		z-index:2000;
	}
	.address-book.song-section {
		height:auto !important;
	}
	#addressBookBody .user-btn {
		color: var(--main-text-color)
	}
	#addressBookBody .ab-grip-container {
		display: none !important;
	}
	#addressBookBody .song-dropdown-btn {
		max-width: 16.6666666666% !important;
		padding-right: .5rem !important;
	}
	#addressBookBody .nav-fixed-text {
		color:var(--strong-text-color) !important;
	}
}
@media screen and (max-width: 900px) {
	.dataTables_filter {
		display:none !important;
	}
	#songCatalogBody {
		background-color: var(--primary-grey);
	}
	.static-song-page-title {
		margin-left: 0 !important;
	}
	.setlist-home-col,.hide-song-catalog, .hide-song-details,.song-catalog-nav, .drag-notification, .song-grip-container {
	  display:none !important;
	}
	#setListDetailsHeader .off-home-header{
		height:auto;
	}
	#catalogSongDetails .container, #catalogSongDetails .wrapper, .song-catalog-row {
		overflow:auto !important;
		max-height:none !important;
		height: fit-content !important;
	}
	.dynamic-song-page-title, .dynamic-search-bar {
		display:flex;
	}
	.song-details {
	  flex: 0 0 100% !important;
	  max-width: 100% !important;
	}
	.song-row.selected{
	  background-color: inherit;
	}
	.title-link {
	  font-size:1.35rem;
	  pointer-events: none;
	}
	.zoom-box {
		width:75px;
		opacity:.75;
	}
	.audio-box, .audio-box img {
		width:30px !important;
		height:30px !important;
		opacity:.75;
	}
	.zoom-box .zoom-val {
		padding-top:7px;
		font-size:.6rem;
	}
	input {
		padding-right: 0px !important;
		padding-left: 4px !important;
	}
	input.search-input{
		padding-left: 10px !important;
		padding-right: 5px !important;
	}
	.version-control-table,label, input[type="date"],input[type="select"],textarea{
		font-size:.7rem !important;
	}
	.col-form-label {
		padding-bottom: calc(0.525rem + 1px) !important;
		padding-top: calc(0.525rem + 1px) !important;
	}
	label.v-center {
		height:16px;
		position:absolute;
		margin-top:-8px;
		top:50%;
	}
	.modal-body > .edit-song-form {
		padding-left: 0 !important;
		padding-bottom: 0 !important;
		padding-top: 0 !important;
		padding-right: 0 !important;
	}
	#setListDetailsHeader .sticky-top, #offNav {
		position: relative !important;
	}
	.alert-container{
		width:65%;
	}
	.off-nav-title {
/* 		padding-top:50px; */
	}
	.input-group-prepend {
		font-size: .7rem;
		height: calc(1.5em + 0.75rem + 2px);
	}
	.offnav-left-header {
		left:100% !important;
		width:35%;
		margin-left: -35%;
	}
	#songNav.sticky-top, #songCatalogBody #offNav {
		position: fixed !important;
		transition: top 0.3s;
		width: 100% !important;
		z-index:2000;
	}
	.song-section, .song-catalog-row, body, #songCatalogBody .song-column {
		height:auto !important;
	}
	#songCatalogBody .song-catalog-row {
		padding-top: 40.3px;
	}
	#songCatalogBody .top-nav {
		position:fixed !important;
	}
	#homePageBody .nav-fixed-text {
		color:var(--strong-text-color) !important;
	}
	.song-dropdown-btn {
		max-width: 16.6666666666% !important;
		padding-right:.5rem !important;
	}
}
@media screen and (max-width: 767px) {
	span.long-word {
		display:none;
	}
	span.short-word {
		display:block;
	}
	.org-dl-link.mr-3 {
		margin-right:.55rem !important;
	}
	.org-permalink > .input-group-prepend > span{
		width:115px;
		font-weight:100;
	}
}
@media screen and (max-width: 700px) {
	.static-song-page-title > span {
		max-width:190px !important;
	}
}
@media (max-width: 576px){
	ul.ks-cboxtags li label{
		font-size: .65rem !important;
	}
	ul.ks-cboxtags li label {
		padding: 0px 8px !important;
	}
	.home-page .song-section > .container {
		margin-top: 127px !important;
	}
	.container, .container-sm {
		max-width: none !important;
	}
	.static-song-page-title span.base-title {
		display:none;
	}
	.off-nav-cluster .nav-menu {
		margin-left: -5px !important;
	}
	.off-nav-cluster > .centered-search-bar {
		padding-left: 0 !important;
	}
}
@media screen and (max-width: 550px){
	.org-dl-link.mr-3 {
		margin-right:.25rem !important;
	}
	.setlist-section.error .set-list-container{
		top:calc(25% - 150px);
	}
	h4.error {
		font-size:1.25rem;
	}
	h5.error {
		font-size:1rem;
	}
	.container.shrinkable {
		width:100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.song-page-container{
		width:98% !important;
	}
	.song-page {
		padding: 10px 20px 2px 20px;
	}
	.alert-container{
		width:90% !important;
	}
	.song-title {
		font-size: calc(1.15rem) !important;
	}
	.song-page > .song-body {
		font-size: calc(.9rem - 2px);
	}
	.modal-dialog.modal-xl {
		width:100% !important;
		margin: 20px 0 0 0;
	}
	.ab-group-email {
		display:none !important
	}
	.set-song-row.ab-row > td > span.ab {
		width:auto !important;
	}
	.user-btn.logged-in {
		font-size:.75rem !important;
	}
	.modal-dialog.modal-md {
		width:100%;
		margin: 20px 0 0 0;
	}
}
@media screen and (max-width: 466px){
	.btn.org-dl-link {
		margin-right: 0 !important;
		margin-top:.5rem;
		display:block;
	}
	table.org-sl {
		font-size: 1rem;
	}
}