<div class="set-list-container ab-group-container mb-2" th:id="${'abContainer_' + group.id }" ondragover="allowDrop(event)" 
	th:attr="ondrop=${'dropAbEntryToGroup(event,' + group.id + ')'},data-target=${group.id},data-setname=${group.name}"  xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
	<button type="button" class="close delete-group">
		<span aria-hidden="true" class="close-dark delete-group-btn">
			<img width="20px" data-toggle="tooltip" data-placement="bottom" title="Click to delete this group" th:src="@{images/delete.png}">
		</span>
	</button>
	<div class="set-list-title">
		<span th:text="${group.name}"></span>
	</div>
	<div class="set-list-songs">
		<table class="table set-table table-sm mb-0">
			<tr class="set-song-row entry-metadata ab-row" th:each="entry, iter: ${group.entries}" 
			th:attr="data-target=${entry.id},data-email=${entry.email}">
				<td class="text-left pt-2">
					<span class="ignore-nav text-ellipsis ab" th:text="${entry.name}">
					</span>
				</td>
				<td class="text-left pt-2 ab-group-email">
					<span class="ignore-nav text-ellipsis ab" th:text="${entry.email}">
					</span>
				</td>
				<td width="30px" class="align-middle">
					<img class="action-btn" th:src="@{/images/ellipse-inverse.png}" data-toggle="dropdown">	
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item edit-contact-btn">Edit Contact</a>
						</li>
					</ul>
				</td>
				<td width="10px" class="text-right align-middle">
					<button type="button" class="close remove-entry" aria-label="Close">
					  <span aria-hidden="true" class="close-dark">&times;</span>
					</button>
				</td>
			</tr>
		</table>
	</div>
	<div class="action-container">
		<div class="row no-gutters">
			<div class="col col-6 text-center" data-toggle="tooltip" data-placement="bottom" title="Add entries to group" th:attr="onclick=${'addEntriesFromSelect(' + group.id + ',''' + group.name + ''')'}">
				<a href="javascript:void(0)"><img width="30px"th:src="@{/images/plus-sign-inverse.png}"/></a>
			</div>
			<div class="col col-6 text-center" data-toggle="tooltip" data-placement="bottom" title="Email group" th:attr="onclick=${'emailGroup(' + group.id + ')'}">
				<a href="javascript:void(0)"><img width="30px" th:src="@{/images/email-inverse.png}"/></a>
			</div>
		</div>
	</div>
</div>