<th:block th:if="${!addressbookentries.empty}" xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
	<div class="table-hover table-responsive">
		<table class="table" >
			<tbody>
				<th:block th:each="abEntry: ${addressbookentries}">	
					<tr class="song-row align-middle row no-gutters ab-metadata" th:id="${'entryRow' + abEntry.id}" th:attr="data-target=${abEntry.id}" th:if="${abEntry.username != 'sysadmin'}">
						<td class="pl-2 no-gutters title col">
							<div class="row no-gutters">
								<span th:text="${abEntry.lastName + ', ' + abEntry.firstName}"></span>
								<div class="ml-3 align-baseline">
									<span class="small-font" th:if="${abEntry.username != null && abEntry.username != ''}" 
										th:text="${'[' + abEntry.username + ']'}">
									</span>
								</div>
							</div>
							<div class="row no-gutters small-font">
								<div class="col ab-entry-info" th:text="${abEntry.email}"></div>
								<div class="col ab-entry-info" th:text="${abEntry.phone}"></div>
							</div>
						</td>
						<td class="col-1 no-gutters d-flex align-items-center justify-content-end song-dropdown-btn">
								<img th:src="@{/images/ellipse-inverse.png}" class="action-btn" data-toggle="dropdown">
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item edit-abEntry-btn">Edit Contact</a>
										</li>
										<li>
											<a class="dropdown-item add-abEntry-to-group">Add Contact To Group</a>
										</li>
										<li th:if="${abEntry.username == null || abEntry.username == ''}">
											<a class="dropdown-item invite-user" th:attr="onclick=${'inviteUser(''' + abEntry.email  + ''')'}">Invite to Create Account</a>
										</li>
										<li>
											<a class="dropdown-item delete-abEntry-btn">Delete Contact</a>
										</li>
									</ul>
						</td>
						<td draggable="true" ondragstart="dragAbEntry(event)" 
							data-toggle="tooltip" data-placement="bottom" title="Click and drag over an address book group to add contact."
							class="col-1 no-gutters pt-0 pb-0 d-flex align-items-center justify-content-center grip-container ab-grip-container">
							<div class="song-grip">
								<svg width="17" height="58" xmlns="http://www.w3.org/2000/svg">
								 <g>
								  <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
								   <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
								  </g>
								 </g>
								 <g>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="7" x="3" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="7" x="9" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="13" x="3" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="13" x="9" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="19" x="3" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="19" x="9" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="25" x="3" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="25" x="9" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="31" x="3" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="31" x="9" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="37" x="3" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="37" x="9" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="43" x="3" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="43" x="9" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="49" x="3" stroke="#7B8A8B" fill="#7B8A8B"/>
								  <rect rx=".5" id="svg_12" height="3" width="3" y="49" x="9" stroke="#7B8A8B" fill="#7B8A8B"/>
								 </g>
								</svg>
							</div>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</th:block>
<th:block th:if="${addressbookentries.empty}">
	<div class="text-center">
		<hr>
		<h3>
			No contact found
		</h3>
		<span sec:authorize="hasAuthority('USER')">Click <a href="#" onclick="createAddressBookEntry();">here</a> to create a contact.</span>
	</div>
</th:block>