<table class="table table-hover table-striped org-sl mb-0 frequency-table">
	<thead>
		<tr>
			<th>Song</th>
			<th>Play Count</th>
		</tr>
	</thead>
	<tbody>
		<tr class="pt-3 pb-3" th:each="freqSong : ${frequentSongs}">
			<td class="text-left text-nowrap align-middle"><a th:text="${freqSong.key.name}" th:href="@{/song/__${freqSong.key.id}__}"></a></td>
			<td class="text-right text-nowrap align-middle" th:text="${freqSong.value}"></td>
		</tr>
	</tbody>
</table>
<script>
	initializeFrequencyTable(".frequency-table");
</script>