<th:block th:fragment="setListResults(sets)">
	<th:block th:if="${!sets.empty}">
		<div th:each="set, iter: ${sets}" class="row mb-2 no-gutters sl-row">
			<div class="col text-center my-auto col-12" th:id="${'appendSetList_' + set.id}">
				<th:block th:include="dynamic/set-list-container.html"></th:block>
			</div>
		</div>
		<div class="set-paginater w-100 pt-2 pb-4 mb-4 text-center">
			<a class="load-more-sets text-white" href="javascript:void(0)">Load more sets...</a>
		</div>
		<script th:inline="javascript">
			var setCursor = 1;
			$(document).ready(function () {
				$('.load-more-sets').click(function(){
					$.ajax({
						url: contextpath + 'setlists',
						method: "GET",
						data: {
							cursor: setCursor,
							view: 'dynamic/set-list-page'
						},
						beforeSend: function(){
							$('.set-paginater').append($('.loading').clone());
							$('.set-paginater .load-more-sets').hide();
							window.scrollTo(0,document.body.scrollHeight);
						},
						success: function(data) {
							setCursor++
							$(data).insertAfter($('.sl-row').last());
							$('.set-paginater .loading').remove();
							$('.set-paginater .load-more-sets').show();
							if (loggedInUser != 'anonymousUser'){
								$('table.set-table').each(function(){
									initializeSortableSetListTable(this);
								});
							}
						},
						error: function(data){
							alertWithFade('danger','Something went wrong! get additional sets')
						}
					});
				});
			});
		</script>
	</th:block>
	<th:block th:if="${sets.empty}">
		<div class="text-center">
			<h4>
				<span style="color: #fff;">No set lists found</span>
			</h4>
			<span sec:authorize="hasAuthority('USER')">Click <a style="color:#fff" onclick="createSetList();" href="#">here</a> to create a new set list.</span>
		</div>
	</th:block>
</th:block>