<div class="set-list-container mb-3 flex-wrap" th:id="${'setListContainer_' + set.id }" ondragover="allowDrop(event)" 
	th:attr="ondrop=${'dropSongToSet(event,' + set.id + ')'},data-target=${set.id},data-setname=${set.setListName}" >
	<div class="setlist-suffix" th:classappend="${#authorization.expression('hasAuthority(''USER'')')? '': 'right-20'}" th:text="${set.nameSuffix}">
	</div>
	<div sec:authorize="hasAuthority('USER')" th:if="${#authentication.principal.username == set.createdBy || #authorization.expression('hasAuthority(''ADMIN'')')}" class="close edit-set">
		<img width="20px" th:src="@{/images/dropdown.png}" data-toggle="dropdown">
		<ul class="dropdown-menu dropdown-menu-right">
			<li>
				<a class="dropdown-item rename-set">Rename</a>
			</li>
			<li>
				<a 
					th:with="fullUrl=${T(com.sjwi.catalog.config.ServletConstants).FULL_URL }"
					class="dropdown-item ignore-td-action" th:attr="onclick=${'copySetLink('''} + ${fullUrl} + @{/setlist/__${set.id}__} + ${''',this)'}">Copy set list link</a>
			</li>
			<li>
				<a class="dropdown-item pin-set">Pin as org's latest set</a>
			</li>
			<li class="ignore-td-action">
				<a th:attr="onclick=${'emailSet(' + set.id + ')'}" class="dropdown-item ignore-td-action">Email set from worship@cfchurches.com</a>
			</li>
			<li>
				<a class="dropdown-item delete-set">Delete</a>
			</li>
		</ul>
	</div>
	<div class="set-list-title mt-2 mb-2">
		<a class="text-primary" th:href="@{/setlist/} + ${set.id}"><span th:class="text-primary" th:text="${set.namePrefix}"></span></a>
	</div>
	<div class="set-list-songs">
		<table class="table set-table table-sm mb-0" th:attr="data-setid=${set.id}">
			<tr th:id="${'setSongRow_' + setSong.setListSongId}" class="set-song-row song-metadata" th:each="setSong, iter: ${set.songs}" 
			th:attr="data-sort=${iter.index + 1},data-setsongid=${setSong.setListSongId},data-target=${setSong.id},data-key=${setSong.defaultKey},data-songname=${setSong.name},data-setid=${set.id},data-ogkey=${setListState != null && setListState.songSettings.containsKey(setSong.setListSongId)? setListState.songSettings.get(setSong.setListSongId).ogKey: null}">
				<td class="text-left set-row-primary-td" th:classappend="${#authorization.expression('hasAuthority(''USER'')')}? 'align-middle':'pt-2'">
					<th:block sec:authorize="hasAuthority('USER')">
						<div class="grip-container set-grip" data-toggle="tooltip" data-placement="bottom" title="Click and drag to sort">
							<svg height="26" width="16">
							  <polygon points="8,11 12,15 4,15" style="fill:#7B8A8B;stroke:#7B8A8B;stroke-width:1" />
							  <polygon points="8,23 12,19 4,19" style="fill:#7B8A8B;stroke:#7B8A8B;stroke-width:1" />
							</svg>
						</div>
					</th:block>
					<th:block>
						<span
							class="text-ellipsis set-row-title" th:text="${setSong.name}">
						</span>
					</th:block>
				</td>
				<td width="80px" class="text-center key-select"
					th:with="overridden=${setListState != null && setListState.songSettings.containsKey(setSong.setListSongId)},
						capo=${setListState != null && setListState.songSettings.containsKey(setSong.setListSongId)? setListState.songSettings.get(setSong.setListSongId).capo: null},
						ogKey=${setListState != null && setListState.songSettings.containsKey(setSong.setListSongId)? setListState.songSettings.get(setSong.setListSongId).ogKey: null}"
				>
					<th:block
						th:replace="partial/key-dropdown :: keySet(${setSong.defaultKey},'defaultKey')"
					></th:block>
				</td>
				<th:block sec:authorize="hasAuthority('USER')">
					<td width="30px" class="align-middle">
						<img class="action-btn" th:src="@{/images/ellipse-inverse.png}" data-toggle="dropdown">	
						<ul class="dropdown-menu max-z">
							<li>
								<a class="dropdown-item set-dropdown-item edit-song-btn">Edit Song</a>
							</li>
							<li>
								<a
								th:with="fullUrl=${T(com.sjwi.catalog.config.ServletConstants).FULL_URL }"
								class="dropdown-item" th:attr="onclick=${'copyTextToClipboard(''' + fullUrl + '/song/' + setSong.id + ''')'}">Copy Song Link</a>
							</li>
							<li>
								<a class="dropdown-item choose-version" th:attr="onclick=${'openChangeVersionModal(' + setSong.id + ',' + set.id + ',''' + #strings.replace(setSong.name,'''','\''') + ''',' + setSong.setListSongId +')'}">Select Version</a>
							</li>
							<li>
								<a sec:authorize="hasAuthority('USER')" class="dropdown-item remove" aria-label="Remove">
									Remove
								</a>
							</li>
						</ul>
					</td>
				</th:block>
			</tr>
		</table>
	</div>
	<div class="action-container">
		<div class="row no-gutters">
			<th:block sec:authorize="hasAuthority('USER')">
				<div class="col col-6 text-center" data-toggle="tooltip" data-placement="bottom" title="Add song to set" th:attr="onclick=${'addSongsFromSelect(' + set.id + ',''' + #strings.replace(set.setListName,'''','') + ''')'}">
					<a href="javascript:void(0)"><img width="30px"type="image/x-icon" th:src="@{/images/plus-sign-inverse.png}"/></a>
				</div>
			</th:block>
			<div class="col text-center" data-toggle="tooltip" data-placement="bottom" title="Download" th:attr="onclick=${'downloadFile(''setlist'', ' + set.id + ')'}">
				 <img width="27px" class="set-list-dl" type="image/x-icon" th:src="@{/images/export-inverse.png}"/>
			</div>
		</div>
	</div>
</div>