<th:block th:fragment="songPage(song)">
	<div class="song-page" th:id="${'songPage_' + song.id}" 
	th:attr="data-target=${song.id},data-key=${song.defaultKey},data-related=${song.related},data-recording=${song.recording?.path}">
		<div th:replace="partial/audio-box :: audioBox(${song})"></div>
		<span class="text-center song-title mb-2"><a class="song-title-link" 
		th:href="${!#strings.contains(#request.requestURI,'/song')}? @{/song/__${song.id}__}: 'javascript:void(0)'" 
		th:text="${song.name}"></a></span>
		<div class="version-indicator w-100">
			<th:block th:if="${setListState != null}" th:with="capo=${setListState.songSettings.containsKey(song.setListSongId)? setListState.songSettings.get(song.setListSongId).capo: null}">
				<span
					th:with="prefix=${capo != null && capo != 0}? ' - capo ' + ${capo} + '': ''"
					class="float-left" th:text="${'[' + song.defaultKey + prefix + ']'}">
				</span>
			</th:block>
			<th:block th:if="${setListState == null}">
				<span class="float-left" th:text="${'[' + song.defaultKey + ']'}"></span>
			</th:block>
			<th:block th:if="${song instanceof T(com.sjwi.catalog.model.song.SetListVersionSong) || song instanceof T(com.sjwi.catalog.model.song.VersionSong)}">
				<span class="float-right" th:text="${'[' + song.versionName + ']'}"></span>
			</th:block>
			<th:block th:if="${song.class.name != 'com.sjwi.catalog.model.song.SetListVersionSong' && song.class.name != 'com.sjwi.catalog.model.song.VersionSong'}">
				<span class="float-right" th:text="${'[**]'}"></span>
			</th:block>
		</div>
		<hr class="mt-4">
		<div class="song-body" th:classappend="${song.getBodyLineCount() > 35? 'column-page':''}">
			<p class="song-body-sect" th:each="songsect: ${song.getBodyAsChunks()}">
				<th:block th:each="line: ${#strings.arraySplit(songsect.trim(), T(java.lang.System).getProperty('line.separator'))}">
					<span class="d-block" th:if="${!T(com.sjwi.catalog.model.TransposableString).isLineOnlyChords(line)}" th:text="${line.trim()}"></span>
					<strong class="d-block pb-dot5" th:if="${T(com.sjwi.catalog.model.TransposableString).isLineOnlyChords(line)}" th:text="${line}"></strong>
				</th:block>
			</p>
		</div>
	</div>
	<script th:inline="javascript">
		$(document).ready(function(){
			focusSong(focusedScrollPage)
		})
	</script>
</th:block>