<th:block th:if="${!songs.empty}">
	<div id="songListTable" class="table-hover table-responsive song-table">
		<table class="table" >
			<tbody>
				<th:block th:each="song: ${songs}">	
					<tr class="song-row align-middle row no-gutters song-metadata" th:id="${'songRow_' + song.id}" th:attr="data-target=${song.id},data-name=${song.name},data-defaultkey=${song.defaultKey},data-versions=${song.versionsAsJson},data-author=${song.createdBy?.firstName},data-related=${song.related},data-category=${song.category}">
						<th:block sec:authorize="hasAuthority('USER')">
							<td class="round form-check col col-1 py-0 d-flex align-items-center justify-content-center song-select-checkbox-container">
								<input autocomplete="off" type="checkbox" class="form-check-input stop-prop song-select" th:id="${'songCheckbox_' + song.id}"
									th:value="${song.id}" th:attr="data-target=${song.id}">
								<label class="form-check-label stop-prop" th:attr="for=${'songCheckbox_' + song.id}"></label>
							</td>
						</th:block>
						<td class="pl-2 pr-1 no-gutters title col" >
							<span th:text="${song.name}"></span>
						</td>
						<td class="col-1 no-gutters d-flex align-items-center justify-content-end song-dropdown-btn" th:classappend="${!#authorization.expression('hasAuthority(''USER'')')}? 'pr-2': ''">
							<img th:src="@{/images/ellipse-inverse.png}" class="action-btn" data-toggle="dropdown">
							<ul class="dropdown-menu">
								<th:block sec:authorize="hasAuthority('USER')">
									<li>
										<a class="dropdown-item add-to-set-btn">Add to Set</a>
									</li>
								</th:block>
								<li>
									<a class="dropdown-item" th:attr="onclick=${'downloadFile(''song'', ' + song.id + ')'}">Download</a>
								</li>
								<th:block sec:authorize="hasAuthority('USER')">
									<li>
										<a class="dropdown-item edit-song-btn">Edit</a>
									</li>
									<li>
										<a class="dropdown-item version-control-btn">Version Control</a>
									</li>
								</th:block>
								<li>
									<a class="dropdown-item" th:attr="onclick=${'copyTextToClipboard(''' + T(com.sjwi.catalog.config.ServletConstants).FULL_URL + '/song/' + song.id + ''')'}">Copy Link</a>
								</li>
								<th:block sec:authorize="hasAuthority('USER')">
									<li>
										<a class="dropdown-item delete-btn">Delete</a>
									</li>
								</th:block>
							</ul>
						</td>
						<th:block sec:authorize="hasAuthority('USER')">
							<td draggable="true" ondragstart="dragSong(event)" 
								data-toggle="tooltip" data-placement="bottom" th:attr="title=${'Click and drag over a set list to add ' + song.name + ' to the set.'}"
								class="col-1 no-gutters pt-0 pb-0 d-flex align-items-center justify-content-center song-grip-container grip-container">
								<div class="song-grip">
									<svg width="17" height="40" xmlns="http://www.w3.org/2000/svg">
									 <g>
									  <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
									   <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
									  </g>
									 </g>
									 <g>
									  <rect rx=".5" id="svg_12" height="3" width="3" y="7" x="3" stroke="#7B8A8B" fill="#7B8A8B"/>
									  <rect rx=".5" id="svg_12" height="3" width="3" y="7" x="9" stroke="#7B8A8B" fill="#7B8A8B"/>
									  <rect rx=".5" id="svg_12" height="3" width="3" y="13" x="3" stroke="#7B8A8B" fill="#7B8A8B"/>
									  <rect rx=".5" id="svg_12" height="3" width="3" y="13" x="9" stroke="#7B8A8B" fill="#7B8A8B"/>
									  <rect rx=".5" id="svg_12" height="3" width="3" y="19" x="3" stroke="#7B8A8B" fill="#7B8A8B"/>
									  <rect rx=".5" id="svg_12" height="3" width="3" y="19" x="9" stroke="#7B8A8B" fill="#7B8A8B"/>
									  <rect rx=".5" id="svg_12" height="3" width="3" y="25" x="3" stroke="#7B8A8B" fill="#7B8A8B"/>
									  <rect rx=".5" id="svg_12" height="3" width="3" y="25" x="9" stroke="#7B8A8B" fill="#7B8A8B"/>
									  <rect rx=".5" id="svg_12" height="3" width="3" y="31" x="3" stroke="#7B8A8B" fill="#7B8A8B"/>
									  <rect rx=".5" id="svg_12" height="3" width="3" y="31" x="9" stroke="#7B8A8B" fill="#7B8A8B"/>
									 </g>
									</svg>
								</div>
							</td>
						</th:block>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</th:block>
<th:block th:if="${songs.empty}">
	<div class="text-center">
		<hr>
		<h4>
			No song matches found
		</h4>
		<span sec:authorize="hasAuthority('USER')">Click <a href="#" onclick="createSong();">here</a> to create a new song.</span>
	</div>
</th:block>