<div class="wrapper">
	<div class="container shrinkable" style="max-height:100%;">
		<div class="song-action-container">
			<div class="row w-100 h-100 no-gutters">
				<div class="d-table col-12 w-100 h-100">
					<div class="d-table-cell align-middle no-gutters text-center" data-toggle="dropdown" style="position:relative;z-index:1033" data-toggle-second="tooltip" data-placement="bottom" title="Transpose Key">
						<ul class="dropdown-menu" >
							<li>
								<a class="dropdown-item transpose">A</a>
							</li>
							<li>
								<a class="dropdown-item transpose">B</a>
							</li>
							<li>
								<a class="dropdown-item transpose">C</a>
							</li>
							<li>
								<a class="dropdown-item transpose">D</a>
							</li>
							<li>
								<a class="dropdown-item transpose">E</a>
							</li>
							<li>
								<a class="dropdown-item transpose">F</a>
							</li>
							<li>
								<a class="dropdown-item transpose">G</a>
							</li>
							<li>
								<a class="dropdown-item transpose">L</a>
							</li>
						</ul>
						 <span class="transpose-key dropdown-toggle" th:text="${focusedSong[fsInitialIndex].defaultKey}"></span>
					</div>
					<th:block sec:authorize="hasAuthority('USER')">
						<div class="d-table-cell align-middle no-gutters text-center add-song-to-set-ic" data-toggle="tooltip" data-placement="bottom" title="Add song to set"
						th:attr="onclick=${'addSongToSet(' + focusedSong[fsInitialIndex].id + ')'}">
							<a><img width="27px" type="image/x-icon"
								th:with="nightModePreference=${T(com.sjwi.catalog.config.PreferencesConfiguration).NIGHT_MODE_PREFERENCE_KEY}"
								th:src="${#session.getAttribute(nightModePreference) == null || !#session.getAttribute(nightModePreference)}? @{/images/add-song-to-set-inverse.png} : @{/images/add-song-to-set.png}"/></a>
						</div>
					</th:block>
					<div class="d-table-cell align-middle no-gutters text-center download-focused-song" data-toggle="tooltip" data-placement="bottom" title="Download"
					th:attr="onclick=${'downloadFile(''song'', ' + focusedSong[fsInitialIndex].id + ')'}">
						 <a><img width="34px" type="image/x-icon" th:src="@{/images/download-inverse.png}"/></a>
					</div>
					<th:block sec:authorize="hasAuthority('USER')">
						<div class="d-table-cell align-middle no-gutters text-center edit-focused-song" th:attr="onclick=${'showEditSongModal(' + focusedSong[fsInitialIndex].id + ')'}" data-toggle="tooltip" data-placement="bottom" title="Edit song" >
							<a><img width="34px" type="image/x-icon" th:src="@{/images/edit-inverse.png}"/></a>
						</div>
						<div class="d-table-cell align-middle no-gutters text-center" data-toggle="tooltip" data-placement="bottom" title="Version control"
						th:attr="onclick=${'openVersionControlModal(' + focusedSong[0].id + ')'}">
							<a><img width="30px" type="image/x-icon" th:src="@{/images/version-control-inverse.png}"/></a>
						</div>
					</th:block>
					<th:block sec:authorize="hasAuthority('USER')">
						<div class="d-table-cell align-middle no-gutters text-center delete-focused-song" data-toggle="tooltip" data-placement="bottom" title="Delete song"
						th:attr="onclick=${'deleteSong(' + focusedSong[0].id + ',' + focusedSong[fsInitialIndex].related + ')'}">
							<a><img width="30px" type="image/x-icon" th:src="@{/images/delete-transparent.png}"/></a>
						</div>
					</th:block>
				</div>
			</div>
		</div>

		<div class="song-page-container text-center mb-4" th:id="${focusedSong[0].id}">
			<th:block th:replace="dynamic/song-container :: songContainer(${focusedSong})"></th:block>
		</div>
	</div>
</div>
<script th:inline="javascript">
	var selectedSlide;
	var selectedSlideIndex;
	
	$(document).ready(function(){
		selectedSlide = $('#songPage_' + [[${focusedSong[0].id}]]);
		$(document).on("beforeChange",".slick-container", function (e, slick, currentSlide, nextSlide){
			$('.transpose-key').text($(slick.$slides.get(nextSlide)).data('key'));
			var nextSongId = $(slick.$slides.get(nextSlide)).data('target');
			$('.add-song-to-set-ic').attr('onclick','addSongToSet(' + nextSongId + ')');
			$('.edit-focused-song').attr('onclick','showEditSongModal(' + nextSongId + ')');
			$('.download-focused-song').attr('onclick','downloadFile(\'song\',' + nextSongId + ',"' + $(slick.$slides.get(nextSlide)).data('key') + '")');
			$('.delete-focused-song').attr('onclick','deleteSong(' + nextSongId + ',' +  $(slick.$slides.get(nextSlide)).data('related') + ')');
			$('.version-container.selected').removeClass('selected');
			$('#versionContainer_' + nextSlide).addClass('selected');
			selectedSlide = $(slick.$slides.get(nextSlide));
			resetSongPageAudio($(selectedSlide).data('recording'));
			selectedSlideIndex = nextSlide;
			window.history.replaceState('song', 'Song Catalog', contextpath + 'song/' + nextSongId);
		});
		$('.dropdown-item.transpose').click(function(e){
			var key = $(this).html();
			$('.transpose-key').text(key);
			var pageId = $(selectedSlide).data('target');
			$.ajax({
				url: contextpath + 'song/details/' + pageId +  '?key=' + key + '&view=dynamic/single-song-page',
				method: "GET",
				success: function(data) {
					$('.slick-container').slick('unslick');
					$(selectedSlide).replaceWith(data);
					$('.slick-container').slick({
						arrows: false,
						  useTransform: false,
						  initialSlide: selectedSlideIndex,
						  useCSS: false,
						  speed: 200
					});
					selectedSlide = $("#songPage_" + pageId);
					$(selectedSlide).data('key',key);
					$('.download-focused-song').attr('onclick','downloadFile(\'song\',' + pageId + ',"' + key + '")');
				}
			});	
		});
	});
</script>
<script sec:authorize="hasAuthority('USER')">
	function deleteSong(id,related){
		$('#deleteSongModal').find('.modal-title').html("Delete song");
		if (related != 0){
			$('#deleteSongModal').find('.modal-message').html("Are you sure you want to permanently delete this version from the song catalog?\nThis will also remove it from all setlists");
		} else {
			$('#deleteSongModal').find('.modal-message').html("Are you sure you want to permanently delete this song from the song catalog?\nThis will also remove it from all setlists and delete any versions");
		}
		$('#deleteSongModal').find('.song-id').val(id);
		$('#deleteSongModal').find('.song-name').val(name);
		$('#deleteSongModal').modal('show');
	}
</script>