<div class="wrapper">
	<div class="container">
		<div class="text-center mt-2 mb-2">
			<span class="minor-title">Versions</span>
		</div>
		<th:block th:each="version, iter:${focusedSong}">
			<div class="version-container text-center mb-1 pb-2" th:id="${'versionContainer_'+ iter.index}" th:attr="data-target=${iter.index}" 
			th:classappend="${iter.index == fsInitialIndex}? 'selected': ''">
				<div class="mt-3">
					<span class="version-title" th:text="${version.name}"></span>
				</div>
				<hr>
				<div class="version-body">
					<p class="song-body" th:text="${version.body}"></p>
				</div>
			</div>
			<div class="text-center mb-3">
				<span style="font-size:.8rem;" th:text="${#strings.capitalize(version.versionName) + '&nbsp;&nbsp;&nbsp;[' + version.createdBy.firstName + ']'}"></span>
			</div>
		</th:block>
		<th:block sec:authorize="hasAuthority('USER')">
			<div class="version-container new-version text-center mb-3 pb-2" title="Click to create a new version" th:attr="data-target=${focusedSong[0].id}">
				<div class="add-version-img">
					<img width="50px" th:src="${#session.getAttribute(T(com.sjwi.catalog.config.PreferencesConfiguration).NIGHT_MODE_PREFERENCE_KEY) == null || !#session.getAttribute(T(com.sjwi.catalog.config.PreferencesConfiguration).NIGHT_MODE_PREFERENCE_KEY)}?@{/images/plus-sign-green-md.png} : @{/images/plus-sign-circle-inverse.png}">
				</div>
			</div>
		</th:block>
		<div style="margin-bottom:calc(120px + 10rem)"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$('.version-container').click(function(e){
			if ($(this).hasClass('new-version')){
				openVersionControlModal($(this).data('target'),true);
			} else {
				$('#slickContainer').slick('slickGoTo',$(e.target).closest('.version-container').data('target'));
			}
		});
	});
</script>