<!DOCTYPE html>
	<th:block th:with="nightModePreference=${T(com.sjwi.catalog.config.PreferencesConfiguration).NIGHT_MODE_PREFERENCE_KEY}">
		<th:block th:replace="partial/head :: head(
			'Uh oh...',
			${#session == null || #session.getAttribute(nightModePreference) == null || !#session.getAttribute(nightModePreference)}? '#00b3ff': '#004f70'
		)"
		>
		</th:block>
	</th:block>
<body id="errorBody">
	<th:block th:replace="partial/header"></th:block>
	<th:block th:replace="partial/off-navbar :: offNavBar('addSong')"></th:block>
	<div class="row setlist-section error text-center no-gutters">
		<div class="col h-100 my-auto">
			<div class="set-list-container">
				<div class="row w-100">
					<div class="col w-100 text-left">
						<a th:href="@{/}">
						<img border="0"
							th:src="@{/images/logo_transparent.png}" width="150px"  class="logo" alt="Logo">
							</a>
					</div>
				</div>
				<div class="row w-100 mt-3">
					<div class="col w-100 text-center">
						<h4 class="pb-2 error">Uh oh... something went wrong</h4>
						<hr>
						<h5 class="mb-4 mt-4 error">Click on this box to email the site administrator</h5>
						<a th:href="@{/}" class="mb-4 mt-4"><h6>Back to Home page</h6></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	$('.setlist-section').click(function(e){
		if (!$(e.target).is('a,img,h6')){
			window.location = 'mailto:worship@cfchurches.com';	
		}
	});
</script>
