<!DOCTYPE html>
<th:block th:replace="partial/head :: head('User Feed')"></th:block>
<body id="userFeedBody">
	<th:block th:replace="partial/header"></th:block>
	<th:block th:replace="partial/off-navbar :: offNavBar('addSong')"></th:block>
	<pre id="logOutput">
		
	</pre>
	<div class="row text-center">
		<div id="loadingIndicator" class="col">

		</div>
	</div>
</body>
<script>

	$('#loadingIndicator').html($('.loading').clone());

	window.scrollTo(0,document.body.scrollHeight);

	setInterval(function() {
		$.ajax({
			url: contextpath + 'logstream', 
			method: "GET",
			success: function(data) {
				var scrollPos = Math.floor($(window).scrollTop() + $(window).height());
				var height = Math.floor($(document).height());
				let wasScrolledToBottom = scrollPos == height;
				$('#logOutput').html(data);
				if(wasScrolledToBottom)
					window.scrollTo(0,document.body.scrollHeight);
			},
			error: function(data){
				alertWithFade('danger','Something went wrong! Unable to retreive log data')
			}
		});
	}, 1000);
</script>
