<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<th:block th:replace="partial/head :: head(${org == null}? 'Other Organizations': ${org.title})"></th:block>
	<th:block th:replace="partial/header"></th:block>
	<th:block th:replace="partial/data-table"></th:block>
	<script th:inline="javascript">
		var orgId = /*[[${org == null}? 0: ${org.id}]]*/;
		var orgName = /*[[${org == null}? Other: ${org.name}]]*/;
	</script>
	<body id="organizationBody">
		<th:block th:replace="partial/off-navbar :: offNavBar('addSong')"></th:block>
		<div class="row no-gutters flex-nowrap mh-100vh">
			<div th:with="orgId=${org == null? '0':org.id}" class="col text-center">
				<h4 class="mt-3 mb-0"><a th:href="${org?.link != null? org.link: ''}" class="header-text text-decoration-none" target="_blank" th:text="${org == null}? 'Other Organizations' : ${org.title}"></a></h4>
				<h6 class="mt-0 text-sub pl-1" th:if="${org?.link != null}"><a th:href="${org.link}" target="_blank">
					Visit Website
					<svg class="pb-1 external-link" fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20px" height="20px">
						<path d="M 18 5 L 18 7 L 23.5625 7 L 11.28125 19.28125 L 12.71875 20.71875 L 25 8.4375 L 25 14 L 27 14 L 27 5 Z M 5 9 L 5 27 L 23 27 L 23 14 L 21 16 L 21 25 L 7 25 L 7 11 L 16 11 L 18 9 Z"/>
					</svg>
					</a>
				</h6>
				<h5 class="d-block header-text mb-3 mt-4">Permalinks</h5>
				<div class="row no-gutters mb-1">
					<div class="col-3"></div>
					<div class="col-sm-6 text-center">
						<div class="input-group col org-permalink">
							<a target="_blank" th:href="${'https://' + #request.getServerName()} + ${!#strings.equals(#request.getServerPort(),'80')? ':' + #request.getServerPort(): ''} + @{/org/__${orgId}__/lyrics-handout}" class="input-group-prepend">
								<span class="input-group-text">Latest lyrics&nbsp;<span class="long-word">handout</span></span>
						    </a>
							<input class="form-control mono-space" disabled type="text" id="orgLyrics" th:value="${'https://' + #request.getServerName()} + ${!#strings.equals(#request.getServerPort(),'80')? ':' + #request.getServerPort(): ''} + @{/org/__${orgId}__/lyrics-handout}">
							<div class="input-group-append copy-text copy-input" data-target="#orgLyrics" title="Copy permalink to lyrics handout to clip-board">
								 <div class="input-group-text"><img width="23px" th:src="@{/images/copy.png}"><span class="collapse copy-checkmark">&#10003;</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row no-gutters mb-1">
					<div class="col-3"></div>
					<div class="col-sm-6 text-center">
						<div class="input-group col org-permalink">
							<a target="_blank" th:href="${'https://' + #request.getServerName()} + ${!#strings.equals(#request.getServerPort(),'80')? ':' + #request.getServerPort(): ''} + @{/org/__${orgId}__/setlist}" class="input-group-prepend">
								<span class="input-group-text">Latest set list&nbsp;<span class="long-word">page</span></span>
						    </a>
							<input class="form-control mono-space" disabled type="text" id="orgPdf" th:value="${'https://' + #request.getServerName()} + ${!#strings.equals(#request.getServerPort(),'80')? ':' + #request.getServerPort(): ''} + @{/org/__${orgId}__/setlist}">
							<div class="input-group-append copy-text copy-input" data-target="#orgPdf" title="Copy permalink to set list to clip-board">
								 <div class="input-group-text"><img width="23px" th:src="@{/images/copy.png}"><span class="collapse copy-checkmark">&#10003;</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-3"></div>
					<div class="col-sm-6 text-center">
						<div class="input-group col org-permalink">
							<a target="_blank" th:href="${'https://' + #request.getServerName()} + ${!#strings.equals(#request.getServerPort(),'80')? ':' + #request.getServerPort(): ''} + @{/org/__${orgId}__/ppt}" class="input-group-prepend">
								<span class="input-group-text">Latest&nbsp;<span class="long-word">PowerPoint</span><span class="short-word">.pptx</span></span>
						    </a>
							<input class="form-control mono-space" disabled type="text" id="orgSet" th:value="${'https://' + #request.getServerName()} + ${!#strings.equals(#request.getServerPort(),'80')? ':' + #request.getServerPort(): ''} + @{/org/__${orgId}__/ppt}">
							<div class="input-group-append copy-text copy-input" data-target="#orgSet" title="Copy permalink to powerpoint to clip-board">
								 <div class="input-group-text"><img width="23px" th:src="@{/images/copy.png}"><span class="collapse copy-checkmark">&#10003;</span></div>
							</div>
						</div>
					</div>
				</div>
				<h5 class="d-block header-text mt-5 mb-3">Frequently Played Songs</h5>
				<div class="container freq-container pr-0 pl-0">
					<div class="row no-gutters mb-2">
						<div th:each="service : ${services}" class="col">
							<div class="custom-control custom-checkbox ml-2 mr-2">
							  <input type="checkbox" class="custom-control-input service-filter my-auto" name="services" checked th:id="${'service_' + service.key}" th:value="${service.key}">
							  <label class="custom-control-label text-left my-auto" th:attr="for=${'service_' + service.key}" th:text="${service.value}"></label>
							</div>
						</div>
					</div>
					<div id="frequencyAppend">
						<th:block th:replace="dynamic/frequency-table.html"></th:block>
					</div>
				</div>
				<h5 class="d-block header-text mt-5 mb-3">Set List Archive</h5>
				<div class="container archive pr-0 pl-0 mb-4">
					<table class="table table-hover table-striped org-sl mb-0 archive-table">
						<thead>
							<tr>
								<th>Sets</th>
								<th>Resources</th>
							</tr>
						</thead>
						<tbody>
							<tr class="pt-3 pb-3" th:each="set : ${sets}">
								<td class="text-left text-nowrap align-middle"><a th:text="${set.setListName}" th:href="@{/setlist/__${set.id}__}"></a></td>
								<td class="text-right align-middle text-nowrap">
									<a class="mr-3 text-nowrap org-dl-link btn btn-info btn-sm" th:href="@{/setlist/pdf/__${set.id}__?lyricsOnly=on&fontSize=18}"><span class="long-word">Download</span> Lyrics</a>
									<a class="mr-3 text-nowrap org-dl-link btn btn-info btn-sm" th:href="@{/setlist/pdf/__${set.id}__}"><span class="long-word">Download</span> PDF</a>
									<a class="text-nowrap org-dl-link btn btn-info btn-sm" th:href="@{/setlist/ppt/__${set.id}__}"><span class="long-word">Download</span> PowerPoint</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
	<script th:inline="javascript">
		var updateFrequencyRequest;
		$(document).ready(function(){
			$('.service-filter').on('click',function(){
				updateFrequencyRequest = $.ajax({
					url: contextpath + 'org/' + orgId + '/song-frequency?view=dynamic/frequency-table&' + $('.service-filter').serialize(),
					type: 'GET',
					beforeSend: function(){
						if(updateFrequencyRequest != null) {
							updateFrequencyRequest.abort();
						}
						$('#frequencyAppend').css('opacity','.5');
					},
					success: function(response){
						$('#frequencyAppend').html(response);
					},
					complete: function(){
						$('#frequencyAppend').css('opacity','1');
					}
				});	
			});
			initializeArchiveTable(".archive-table");
			$('.copy-input').on('click',function(){
				copyTextToClipboard($($(this).data('target')).val(),false);
				checked(this);
			});	
		})
		function checked(elem){
			$(elem).find('div').addClass('bg-primary');
			$(elem).find('div > img').hide('slow');
			$(elem).find('div > span').show('slow');
			setTimeout(function(){
				$(elem).find('div').removeClass('bg-primary');
				$(elem).find('div > img').show('slow');
				$(elem).find('div > span').hide('slow');
			},1000);
		}
	</script>
</html>