<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<th:block th:replace="partial/head :: head(${org == null}? 'Other Organizations': ${org.title})"></th:block>
	<th:block th:replace="partial/header"></th:block>
	<body id="organizationBody">
		<th:block th:replace="partial/off-navbar :: offNavBar('addSong')"></th:block>
		<div class="row no-gutters flex-nowrap mh-100vh">
			<div th:with="orgId=${org == null? '0':org.id}" class="col text-center">
				<h4 class="mt-3 mb-4 header-text" th:text="${org == null}? 'Other Organizations' : ${org.title}"></h4>
				<h5 class="d-block header-text mb-3">Permalinks</h5>
				<div class="row no-gutters mb-1">
					<div class="col-3"></div>
					<div class="col-sm-6 text-center">
						<div class="input-group col org-permalink">
							<div class="input-group-prepend">
								<span class="input-group-text">Latest lyrics&nbsp;<span class="long-word">handout</span></span>
						    </div>
							<input class="form-control mono-space" disabled type="text" id="orgLyrics" th:value="${'https://' + #request.getServerName()} + ${!#strings.equals(#request.getServerPort(),'80')? ':' + #request.getServerPort(): ''} + @{/org/__${orgId}__/lyrics-handout}">
							<div class="input-group-append copy-text copy-input" data-target="#orgLyrics" title="Copy permalink to lyrics handout to clip-board">
								 <div class="input-group-text"><img width="23px" th:src="@{/images/copy.png}"><span class="collapse copy-checkmark">&#10003;</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row no-gutters mb-1">
					<div class="col-3"></div>
					<div class="col-sm-6 text-center">
						<div class="input-group col org-permalink">
							<div class="input-group-prepend">
								<span class="input-group-text">Latest set list&nbsp;<span class="long-word">page</span></span>
						    </div>
							<input class="form-control mono-space" disabled type="text" id="orgPdf" th:value="${'https://' + #request.getServerName()} + ${!#strings.equals(#request.getServerPort(),'80')? ':' + #request.getServerPort(): ''} + @{/org/__${orgId}__/setlist}">
							<div class="input-group-append copy-text copy-input" data-target="#orgPdf" title="Copy permalink to set list to clip-board">
								 <div class="input-group-text"><img width="23px" th:src="@{/images/copy.png}"><span class="collapse copy-checkmark">&#10003;</span></div>
							</div>
						</div>
					</div>
				</div>
				<div class="row no-gutters">
					<div class="col-3"></div>
					<div class="col-sm-6 text-center">
						<div class="input-group col org-permalink">
							<div class="input-group-prepend">
								<span class="input-group-text">Latest&nbsp;<span class="long-word">PowerPoint</span><span class="short-word">.pptx</span></span>
						    </div>
							<input class="form-control mono-space" disabled type="text" id="orgSet" th:value="${'https://' + #request.getServerName()} + ${!#strings.equals(#request.getServerPort(),'80')? ':' + #request.getServerPort(): ''} + @{/org/__${orgId}__/ppt}">
							<div class="input-group-append copy-text copy-input" data-target="#orgSet" title="Copy permalink to powerpoint to clip-board">
								 <div class="input-group-text"><img width="23px" th:src="@{/images/copy.png}"><span class="collapse copy-checkmark">&#10003;</span></div>
							</div>
						</div>
					</div>
				</div>
				<h5 class="d-block header-text mt-5 mb-3">Frequently Played Songs</h5>
				<div class="container pr-0 pl-0">
					<div class="pr-2 pl-2">
					<table class="table table-hover table-striped org-sl mb-0 frequency-table">
						<thead>
							<tr>
								<th>Song</th>
								<th>Play Count</th>
							</tr>
						</thead>
						<tbody>
							<tr class="pt-3 pb-3" th:each="freqSong : ${frequentSongs}">
								<td class="text-left text-nowrap align-middle"><a th:text="${freqSong.key.name}" th:href="@{/song/__${freqSong.key.id}__}"></a></td>
								<td class="text-right text-nowrap align-middle" th:text="${freqSong.value}"></td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
				<h5 class="d-block header-text mt-5 mb-3">Set List Archive</h5>
				<div class="container archive pr-0 pl-0 mb-4">
					<div class="pr-2 pl-2">
						<table class="table table-hover table-striped org-sl mb-0 archive-table">
							<thead>
								<tr>
									<th>Sets</th>
									<th>Resources</th>
								</tr>
							</thead>
							<tbody>
								<tr class="pt-3 pb-3" th:each="set : ${sets}">
									<td class="text-left text-nowrap align-middle"><a th:text="${set.setListName}" th:href="@{/setlist/__${set.id}__}"></a></td>
									<td class="text-right align-middle text-nowrap">
										<a class="mr-3 text-nowrap org-dl-link btn btn-info btn-sm" th:href="@{/setlist/pdf/__${set.id}__?lyricsOnly=on&fontSize=18}"><span class="long-word">Download</span> Lyrics</a>
										<a class="mr-3 text-nowrap org-dl-link btn btn-info btn-sm" th:href="@{/setlist/pdf/__${set.id}__}"><span class="long-word">Download</span> PDF</a>
										<a class="text-nowrap org-dl-link btn btn-info btn-sm" th:href="@{/setlist/ppt/__${set.id}__}"><span class="long-word">Download</span> PowerPoint</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
	$(document).ready(function(){
		$(".frequency-table").DataTable({
			  searching:false,
			  paging:true,
			  "pageLength": 10,
			  lengthChange: false,
			  info: false,
			  "order": [ 1, "desc" ]
		});
		$(".archive-table").DataTable({
			  language: {
				search:'',
			  	searchPlaceholder: "Search archive..."
			  },
			  searching:true,
			  paging:true,
			  "pageLength": 10,
			  lengthChange: false,
			  info: true,
			  "order": [ 1, "desc" ]
		});
		$('.copy-input').on('click',function(){
			copyTextToClipboard($($(this).data('target')).val(),false);
			checked(this);
		});	
	})
	function checked(elem){
		$(elem).find('div').addClass('bg-primary');
		$(elem).find('div > img').hide('slow');
		$(elem).find('div > span').show('slow');
		setTimeout(function(){
			$(elem).find('div').removeClass('bg-primary');
			$(elem).find('div > img').show('slow');
			$(elem).find('div > span').hide('slow');
		},1000);
	}
	</script>
</html>