<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" manifest="cache.manifest">
	<th:block th:replace="partial/head :: head(${set.setListName})"></th:block>
	<th:block th:replace="partial/header"></th:block>
	<body id="setListBody">
		<div class="scroll-lock">
			<th:block th:replace="partial/off-navbar :: offNavBar('addSetList')"></th:block>
			<div class="wrapper set-list-page text-center">
				<div class="row no-gutters">
					<div class="col-lg-6 left-side setlist">
						<div class="pt-3" th:id="${'appendSetList_' + set.id}">
							<th:block th:replace="dynamic/set-list-container"></th:block>
						</div>
					</div>
					<div class="col-lg-6 right-side setlist">
						<div class="song-page-container setlist hover text-center mt-3 mb-4" th:id="${set.id}">
							<th:block th:replace="dynamic/song-container :: songContainer(${set.songs})"></th:block>
						</div>
					</div>
				</div>
			</div>
			<div id="overlay">
			</div>
			<div class="modal-container">
				<th:block th:replace="modal/qrcode"></th:block>
				<th:block sec:authorize="hasAuthority('USER')">
					<th:block th:replace="modal/edit-song"></th:block>
					<th:block th:replace="modal/edit-set"></th:block>
					<th:block th:replace="modal/add-song-from-select"></th:block>
					<th:block th:replace="modal/delete-setlist"></th:block>
					<th:block th:replace="modal/change-version"></th:block>
					<th:block th:replace="modal/email-set"></th:block>
				</th:block>
			</div>
		</div>
	</body>
	<th:block sec:authorize="hasAuthority('USER')">
		<script th:inline="javascript" th:src="@{/js/page/set-list/user.js}"></script>
		<script th:inline="javascript" th:src="@{/js/page/set-list/static-user.js}"></script>
		<script th:inline="javascript" th:src="@{/js/page/song/user.js}"></script>
		<script th:inline="javascript" th:src="@{/js/page/set-list/key-change/setlist-user.js}"></script>
	</th:block>
	<script sec:authorize="!hasAuthority('USER')" th:inline="javascript" th:src="@{/js/page/set-list/key-change/local.js}"></script>
	<script th:inline="javascript" th:src="@{/js/page/set-list/static.js}"></script>

	<script th:inline="javascript" th:src="@{/js/page/song/page.js}"></script>
	<script th:inline="javascript" th:src="@{/js/page/song/static.js}"></script>

	<script th:inline="javascript">
		var lastUpdatedTime;
		var setListId = /*[[${set.id}]]*/;
		var ignoreTdAction = '.grip-container,.set-grip,img,.action-btn-container,key-select,button,.close-dark';
		$(document).ready(function(){
			$(document).on('click','.set-list-container',function(e){
				if($(e.target).is('td, td span') && !$(e.target).is(ignoreTdAction)){
					if ($('#slickContainer').length){
						$('#slickContainer').slick('slickGoTo',$(e.target).closest('.set-song-row').data('sort') - 1);
					}
				}
			});
			$(".slick-container").on("beforeChange", function (e, slick, currentSlide, nextSlide){
				resetSongPageAudio($(slick.$slides.get(nextSlide)).data('recording'));
			});
			$('.wrapper').css('height',$(document).height() - 30);
			setInterval(function(){
				pollForSetListUpdate(setListId);
			}, 5000)
		});
	</script>
</html>