<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-oc="var(--primary-grey),var(--primary-grey)">
	<th:block th:replace="partial/head :: head(${focusedSong[0].name})"></th:block>
	<th:block th:replace="partial/header"></th:block>
	<body id="songCatalogBody">
		<script th:inline="javascript">
			const focusedScrollPage = [[${fsInitialIndex}]];
			var focusedSong = [[${focusedSong[0].id}]];
		</script>
		<div class="scroll-lock">
			<th:block th:replace="partial/off-navbar :: offNavBar('addSong')"></th:block>
			<div class="song-catalog-row row no-gutters flex-nowrap">
				<div class="col song-column no-gutters" th:classappend="${!#strings.contains(#request.requestURI,'/songs')}? 'hide-song-catalog':''">
					<div class="template-container song-catalog-table" id="songTableContainer">
						<th:block th:if="${songs != null}">
							<th:block th:replace="dynamic/song-table"></th:block>
						</th:block>
					</div>
					<th:block sec:authorize="hasAuthority('USER')">
						<th:block th:replace="partial/add-song-alert"></th:block>
					</th:block>
				</div>
				<div class="no-gutters song-details col col-8" th:classappend="${#strings.contains(#request.requestURI,'/songs')}? 'hide-song-details':''">
					<div class="template-container" id="catalogSongDetails">
						<th:block th:replace="dynamic/song-details"></th:block>
					</div>
				</div>
				<div class="col-2 no-gutters version-column">
					<div class="template-container" id="catalogVersionDetails">
						<th:block th:replace="dynamic/version-details"></th:block>
					</div>
				</div>
			</div>
			<div class="modal-container">
				<th:block sec:authorize="hasAuthority('USER')">
					<th:block th:replace="modal/add-song-to-set"></th:block>
					<th:block th:replace="modal/add-songs-to-set"></th:block>
					<th:block th:replace="modal/delete-song"></th:block>
					<th:block th:replace="modal/edit-song"></th:block>
					<th:block th:replace="modal/version-control"></th:block>
				</th:block>
			</div>
		</div>
		<th:block th:replace="partial/back-btn"></th:block>
	</body>
	<script th:inline="javascript" th:src="@{/js/page/song/page.js}"></script>
	<script th:inline="javascript" th:src="@{/js/page/set-list/static.js}"></script>
	<script th:inline="javascript" th:src="@{/js/page/song/static.js}"></script>
	<script th:inline="javascript" sec:authorize="hasAuthority('USER')" th:src="@{/js/page/song/user.js}"></script>

	<script th:inline="javascript">
		if ($('.song-table').length == 0)
			$('#songTableContainer').html($('.loading').clone());
		var ignoreSongClickedSelector = ".action-btn,.song-dropdown-btn,.dropdown-menu, li, .dropdown-item,.grip-container,img,.round,.round>*";
		
		function refreshSongContainer(id){
			$('#catalogSongDetails').load(contextpath + 'song/' + id + '?view=dynamic/song-details', bindSongContainerScroll);
			$('#catalogVersionDetails').load(contextpath + 'song/' + id + '?view=dynamic/version-details');
		}
		function selectFocusedSong(id){
			$('.song-row.selected').removeClass('selected');
			$('#songRow_'+id).addClass('selected');
		}

		$(document).ready(function(){
			if ($('.hide-song-catalog').is(':visible')){
				$.ajax({
					url: contextpath + 'search/song',
					method: "GET",
					data: {
						searchValue:'',
						view: '',
						searchType: 'songSearch2'
					},
					success: function(data) {
						$('#songTableContainer').html(data);
						var focusedRow = document.getElementById("songRow_" + focusedSong);
						var topPos = focusedRow.offsetTop;
						$('.song-column')[0].scrollTo(0,topPos);
						selectFocusedSong(focusedSong);
						let tmpSongArray = JSON.parse(localStorage.getItem("cachedMultiSelect"));
						tmpSongArray.forEach((id) => $('#songCheckbox_' + id).prop('checked',true));
					},
					error: function(data) {
						alertWithFade('danger','Unable to populate song list at this time.')
					}
				})
			}

			$(document).on('click','.song-row',function(e){
				if (!$(e.target).is(ignoreSongClickedSelector)){
					var id = $(e.target).closest('.song-metadata').data('target');
					var name = $(e.target).closest('.song-metadata').data('name');
					if ($(".hide-song-details").is(':hidden')){
						location.href = contextpath + 'song/' + id;
					} else {
						if (id != focusedSong){
							refreshSongContainer(id);
							selectFocusedSong(id);
							focusedSong = id;
							window.history.replaceState('song', 'Song Catalog', contextpath + 'song/' + id);
							document.title = name;
						}
					}
				}
			});	
			$('#versionControlModal').on('hidden.bs.modal', function () {
				if (versionChange){
					refreshSongContainer(focusedSong);
				}
			});	
			$('#deleteSongModal').on('hidden.bs.modal', function(e){
				if ($('#deleteSongModal').find('.song-id').val() == focusedSong && songDeleted){
					location.href = contextpath + 'songs';
				} else {
					refreshSongContainer(focusedSong);
				}
			});
			if (window.length < 900){
				addScrollListener('#offNav',-40,42);
			}
		});
	</script>
</html>