<form method="POST" action="" id="addAddressBookEntryToGroupForm">
	<input type="hidden" name="entryId" th:value="${entry.id}">
	<div class = "modal-header">
		<h5 class="modal-title" th:text="${'Add ' + entry.firstName + ' ' + entry.lastName + ' to a Group'}"></h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<div class="col-12">
				<select class="form-control autofocus group required" title="Select a group" name="groupId" type="text">
					<option value="" selected>Select a group</option>
					<option value="0">Create New Group</option>
					<option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}">
					</option>
				</select>
			</div>
		</div>
		<div class="form-group row new-group collapse">
			<div class="col-12">
				<input class="form-control required" title="Enter a name for the new group" type="text" name="newGroup" placeholder="Enter new group name">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-info btn-lg w-100">Add Contact to Group</button>
	</div>
</form>	

<script>
	$(document).ready(function(){
		$('#addAddressBookEntryToGroup').find('.group').on('change',function(){
			if ($(this).val() == 0){
				$('#addAddressBookEntryToGroup').find('.new-group').show();
			} else {
				$('#addAddressBookEntryToGroup').find('.new-group').hide();
			}
		})
		$('#addAddressBookEntryToGroupForm').on('submit',function(e){
			e.preventDefault();
			if (isFormFilled(this)){
				$('#addAddressBookEntryToGroupForm button[type="submit"]').prop("disabled",true);
				var groupId = $(this).find('.group').val();
				$.ajax({
					url: contextpath + 'addressbook/add-member-to-group',
					method: "POST",
					data: $('#addAddressBookEntryToGroupForm').serialize(),
					success: function() {
						if (groupId != 0){
							reloadGroupContainer(groupId);
							alertWithFade('warning', 'Contact added to group');
							$('#addAddressBookEntryToGroup').modal('hide');
						} else {
							location.reload();
						}
					},
					error: function(data){
						alertWithFade('danger','Unable to add member to group');
					},
					complete: function(){
						$('#addAddressBookEntryToGroupForm button[type="submit"]').prop("disabled",false);
					}
				});	
			}
		});
	})
</script>