<div class="modal-message mb-4 collapse">
	<div class="form-group row">
		<div class="col-12 text-center">
			<span class="notification-message drag-notification text-muted">You can add songs quickly from the home page by dragging the grip &nbsp;&nbsp;<img width="8px" class="grip-container" th:src="@{/images/grip-inverse-lg.png}">&nbsp;&nbsp; icon into a set list</span>
		</div>
	</div>
</div>
<input type="hidden" name="song" class="song-id" th:value="${song.id}"/> 
<div class="form-group row no-gutters">
	<div class="col-2 no-gutters">
		<label class="col-form-label" for="setList">Set List</label>
	</div>
	<div class="col-6 no-gutters">
		<select title="Select a set list"
			name="setList" class="custom-select set-list required">
			<option value="0">Add to New Set</option>
			<option th:each="list, iter: ${sets}"
				th:value = "${list.id}" th:text="${list.setListName}" th:selected="${iter.index==0}"></option>
		</select>
	</div>
	<div class="col-2 text-right no-gutters pr-2">
		<label class="col-form-label" for="setListKey">Key</label>
	</div>
	<div class="col-2 text-right no-gutters">
		<th:block th:replace="partial/key-dropdown-select :: keySet(${song.defaultKey},'setListKey')"></th:block>
	</div>
</div>
<div class="form-group row add-new-set no-gutters">
	<div id="addNewSet" class="col-12 collapse add-new-set">
		<th:block th:replace="/partial/create-set :: createSet('addSongToSetListModal','addSongToSetForm')"></th:block>
	</div>
</div>
<div class="form-group row no-gutters">
	<div class="col-2 no-gutters">
		<label class="col-form-label" for="version">Version</label>
	</div>
	<div class="col-10 no-gutters">
		<select class="custom-select version-list required" title="Select a version" name="version">
			<option th:each="version: ${focusedSong}" th:selected="${song.id == version.id}" th:value="${version.related == null? 'master': version.id}" th:text="${version.versionName + ' [' + version.createdBy?.firstName + ']'}"></option>
			<option value="newVersion">Create new version</option>
		</select>
	</div>
</div>
<div id="newVersionContainer" class="template-container collapse">
</div>

<script th:inline="javascript">
	if (!isMobile)
		$('#addSongToSetListModal').find('.modal-message').show();
	$(document).ready(function(){
		$('#addSongToSetListModal').find('.modal-title').html('Add <a class="song-title-ref" href="' + [[@{/song/__${song.id}__}]] + '"><b>' + [[${song.name}]] + '</b></a> to a Set List');
		$('.version-list').change(function(){
			if ($(this).val() == 'newVersion'){
				$.ajax({
					url: contextpath + 'song/version/' + $('#addSongToSetListModal').find('.song-id').val() + '?view=modal/dynamic/new-version', 
					method: "GET",
					success: function(data) {
						$('#newVersionContainer').html(data);
						$('#newVersionContainer').show();
					},
					error: function(data){
						alertWithFade('danger','Something went wrong! Unable to add song to set')
					}
				});
			}
			else{
				$('#newVersionContainer').hide();
			}
		});
		
		$('.set-list').change(function() {
			if ($(this).val() == "0") {
				$(".add-new-set").show();
				let lastService = localStorage.getItem(LAST_SERVICE_KEY);
				$('#addSongToSetForm select[name="subUnit"]').val(lastService).trigger('change');
			}else{
				$(".add-new-set").hide();
			}
		});
	});
</script>