<div class="form-group row no-gutters mb-3 mt-2">
	<div class="col col-12">
		<h6><b>Songs to add:</b></h6>
		<div class="row my-3 flex-nowrap" th:each="song:${songs}">
			<div class="round form-check col-1">
				<input th:id="${'multiSelectSong_' + song.id}" class="form-check-input" checked name="songs" th:value="${song.id}" type="checkbox">
				<label th:for="${'multiSelectSong_' + song.id}" class="form-check-label"></label>
			</div>
			<div class="col-11">
				<span th:text="${song.name}"></span>
			</div>
		</div>
	<hr>
	</div>
	<div class="col-3 no-gutters">
		<h6><b>Set List:</b></h6>
	</div>
	<div class="col-9 no-gutters">
		<select title="Select a set list"
			name="setList" class="custom-select set-list required">
			<option value="0">Add to New Set</option>
			<option th:each="list, iter: ${sets}"
				th:value = "${list.id}" th:text="${list.setListName}" th:selected="${iter.index==0}"></option>
		</select>
	</div>
</div>
<div class="form-group row add-new-set no-gutters my-3">
	<div id="addNewSet" data-loaded="false" class="col-12"></div>
</div>
<script th:inline="javascript">
	$(document).ready(function(){
		$('.set-list').change(function(){
			if ($(this).val() == "0") {
				var setListElement = $('#addSongsToSetListModal').find('#addNewSet');
				if($(setListElement).data('loaded')){
					$(".add-new-set").show();
				} else {
					$(setListElement).html($('#createSetListForm').html());
					$(setListElement).find('.date-picker').val(new Date().toDateInputValue());
					$(setListElement).data('loaded','true')
				}
			}else{
				$(".add-new-set").hide();
			}
		});
	});
</script>