<input type="hidden" th:value="${setId}" name="setId" class="song-id">
<div class="form-group row text-center" >
	<div class="col-2"></div>
	<div class="col-8">
		<select class="form-control songs-to-add required" data-width="100%" type="text" name="songsToAdd" title="Enter a song to add" multiple="multiple">
			<option th:each="song: ${songs}" th:value="${song.id}" th:text="${song.name}"></option>
		</select>
	</div>
	<div class="col-2"></div>
</div>
<div class="row no-gutters mb-2 mt-4">
	<div class="col text-right">
		<a th:href="@{/}" class="text-info mr-3">
			<svg class="pb-1 external-link" fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="25px" height="25px">
				<path d="M 18 5 L 18 7 L 23.5625 7 L 11.28125 19.28125 L 12.71875 20.71875 L 25 8.4375 L 25 14 L 27 14 L 27 5 Z M 5 9 L 5 27 L 23 27 L 23 14 L 21 16 L 21 25 L 7 25 L 7 11 L 16 11 L 18 9 Z"/>
			</svg>
			Song Catalog
		</a>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-info" id="submitAddSongFromSelectBtn">Add Song(s)</button>
</div>
<script>
	$('.songs-to-add').select2({
		placeholder: 'Click to select',
		escapeMarkup: function (markup) { return markup; },
		language: {
		   noResults: function(){
			   return "No Results Found:  <div class='text-right d-inline ml-2'><a href='javascript:void(0)' onclick='newSong()' class='text-info'>Create Song</a></div>";
		   }
		}
	});
	$(".songs-to-add").on("select2:select", function (evt) {
	  var element = evt.params.data.element;
	  var $element = $(element);
	  
	  $element.detach();
	  $(this).append($element);
	  $(this).trigger("change");
	});

	$('.select2-search__field').css('width', '100%');

	function newSong() {
		$('.songs-to-add').select2('close');
		$('#addSongFromSelectModal').modal('hide');
		createSong();
	}
</script>