<input type="hidden" th:value="${setId}" name="setId" class="song-id">
<div class="form-group row text-center my-3" >
	<div class="col-2"></div>
	<div class="col-8">
		<select class="form-control songs-to-add required" data-width="100%" type="text" name="songsToAdd" title="Enter a song to add" multiple="multiple">
			<option th:each="song: ${songs}" th:value="${song.id}" th:text="${song.name}"></option>
		</select>
	</div>
	<div class="col-2"></div>
</div>
<script>
	$('.songs-to-add').select2({
		placeholder: 'Click to select',
		closeOnSelect: false,
		escapeMarkup: function (markup) { return markup; },
		language: {
		   noResults: function(){
			   return "No Results Found:  <div class='text-right d-inline ml-2'><a href='javascript:void(0)' onclick='newSong()' class='text-info'>Create Song</a></div>";
		   }
		}
	});

	$('.select2-search__field').css('width', '100%');

	function newSong() {
		$('.songs-to-add').select2('close');
		$('#addSongFromSelectModal').modal('hide');
		createSong();
	}
</script>