<input type="hidden" th:value="${currentVersionId}" name="currentVersion">
<div class="form-group row">
	<div class="col-sm-4 mx-auto"> 
		<div class="row form-group">
			<label class="col-3 col-form-label" for="title">Versions</label>
			<select class="col-9 custom-select version-list required" title="Select a version to change to" name="version">
				<option th:each="version: ${versions}" th:value="${version.id}" th:selected="${currentVersionId == version.id}" th:text="${version.versionName + ' [' + version.createdBy?.firstName + ']'}"></option>
				<option value="newVersion">Create New Version</option>
			</select>
		</div>
	</div>
</div>
<div id="newVersionContainer" class="template-container collapse">
</div>
<div class="form-group row">
	<div class="col-12 w-100" >
		<div class="song-page-container text-center modal-page-container">
			<th:block th:each="version: ${versions}" th:if="${currentVersionId == version.id}">
				<th:block th:replace="dynamic/single-song-page :: songPage(${version})"></th:block>
			</th:block>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('#changeVersionModal').find('.version-list').change(function(){
			if($(this).val() == "newVersion"){
				$.ajax({
					url: contextpath + 'song/version/' + $('#changeVersionModal').find('.version-list option:contains("**")').val() + "?view=modal/dynamic/new-version", 
					method: "GET",
					success: function(data) {
						$('#newVersionContainer').html(data);
						$('#newVersionContainer').find('select[name="defaultVersionKey"]').attr('disabled',true);
						$('#newVersionContainer').show();
						$('#changeVersionModal').find('.song-page-container').hide();
					},
					error: function(data){
						alertWithFade('danger','Something went wrong! Unable to get version metadata')
					}
				});
			} else {
				$('#changeVersionModal').find('.song-page-container').show();
				$('#newVersionContainer').hide();
				$.ajax({
					url: contextpath + 'song/version/' + $(this).val() + '?view=dynamic/single-song-page',
					method: "GET",
					beforeSend: function(data){
						$('#changeVersionModal').find('.song-page-container').html($('.loading'));
					},
					success: function(data) {
						$('#changeVersionModal').find('.song-page-container').html(data);
					}
				});
			}
		});
	});
</script>
			