<div class="modal-header">
	<h5 class="modal-title" th:text="${'Download ' + defaultFileName}"></h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form id="downloadForm">
		<input type="hidden" class="hidden-key" id="key" name="key" th:if="${key != null}" th:value="${key}">
		<div class="row no-gutters download-tab-row">
			<div id="downloadPdfBtn" class="col-6 no-gutters my-auto text-center left-download-modal download-tab selected">
				<img title="Download PDF" class="mt-3 mb-3 pdf" width="60px" th:src="@{/images/pdf.png}">
			</div>
			<div id="downloadPptBtn" class="col-6 my-auto text-center no-gutters right-download-modal download-tab">
				<img title="Download PowerPoint" width="60px" class="mt-3 mb-3 ppt" th:src="@{/images/ppt.png}">
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-3 form-group">
				<label for="fileName" class="col-form-label">File Name</label>
			</div>
			<div class="col-9">
				<div class="input-group">
				<input type="text" class="form-control required pl-1 filename" title="Enter the name of download file" name="fileName" th:value="${defaultFileName}">
				<div class="input-group-append">
					<span class="input-group-text file-suffix">.pdf</span>
				</div>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-3">
				<label for="fontSize" class="col-form-label">Font</label>
			</div>
			<div class="col-3">
				<select name="fontSize" class="form-control">
				</select>
				<span class="footnotes">*Recommended font</span>
			</div>
			<div class="col-6 text-right pdf-options">
				<div class="form-check">
					<label class="form-check-label small-font mr-4" for="lyricsOnly">Lyrics Only</label>
					<input name="lyricsOnly" id="lyricsOnly" type="checkbox" class="form-check-input">
				</div>
				<div class="form-check">
					<label class="form-check-label small-font mr-4" for="qrCode">QR Code</label>
					<input name="qrCode" type="checkbox" class="form-check-input">
				</div>
			</div>
			<div class="col-6 text-right ppt-options collapse">
				<div class="form-check">
					<label class="form-check-label small-font mr-4" for="blankSlide">Prepend Blank Slide</label>
					<input name="blankSlide" id="blankSlide" type="checkbox" class="form-check-input">
				</div>
				<div class="form-check">
					<label class="form-check-label small-font mr-4" for="blankSlideDelimiter">Blank Slide Delimiter</label>
					<input name="blankSlideDelimiter" id="blankSlideDelimiter" type="checkbox" class="form-check-input">
				</div>
				<div class="form-check">
					<label class="form-check-label small-font mr-4" for="alignCenter">Center Align Text</label>
					<input name="alignCenter" id="alignCenter" type="checkbox" class="form-check-input">
				</div>
			</div>
		</div>
	</form>
	<div id="dlQrContainer" class="row mt-4 no-gutters dl-qr collapse">
		<div class="col text-center">
			<div id="dlQrCode" class="d-inline-block"></div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-lg w-100 btn-info" onclick="$('#downloadForm').submit()">Download</button>
	<button type="submit" class="btn btn-lg w-100 btn-primary" onclick="openDownloadInBrowser()">Open in Browser</button>
	<button type="button" class="btn btn-lg btn-dark w-100" id="copyDownloadLinkBtn" onclick="copyDownloadUrl(event)"
		th:attr="data-baseContext=${T(com.sjwi.catalog.config.ServletConstants).FULL_URL}">Copy Download Link</button>
	<button type="submit" class="btn btn-lg w-100 btn-success" onclick="emailFile(event)">Email/SMS</button>
	<button type="button" class="btn btn-lg btn-secondary w-100" id="generateDownloadQRCodeBtn" onclick="generateDownloadQRCode(event)">Generate QR Code</button>
</div>
<script>
	$(document).ready(function(){
		$('.left-download-modal').click();
		$('#lyricsOnly').click();
	});
</script>