<div class="modal-body">
	<input type="hidden" name="setSongId" class="set-song-id" value="0">
	<input type="hidden" name="song" class="song-id" th:value="${song.id}" /> 
	<div class="row">
		<div class="col-sm-8 mx-auto">
			<div class="row">
			</div>
		</div>
	</div>
	<div class="form-group no-gutters row flex-nowrap">
		<div class="col-2">
			<label for="categories" class="col-form-label">Category</label>
		</div>
		<div class="col-5 d-flex flex-nowrap">
			<select id="categorySelect" name="category" class="form-control categories">
				<option th:each="category: ${categories}" th:selected="${song.category == category.key}" th:value="${category.key}" th:text="${category.value}"></option>
			</select>
		</div>
		<div class="col-4 offset-1 no-gutters justify-content-end d-flex flex-nowrap">
			<label for="newVersion" class="col-form-label pr-2">Commit as New Version</label>
			<input type="checkbox" name="newVersion" class="form-control">
		</div>
	</div>
	<div class="form-group no-gutters row d-flex flex-nowrap">
		<div class="col-2">
			<label for="defaultKey" class="col-form-label">Chorded In</label>
		</div>
		<div class="col-5 text-left flex-nowrap">
			<select disabled class="custom-select custom-key-select btn-sm dropdown-toggle"><option selected th:text="${song.defaultKey}"></option></select>
			<input type="hidden" name="defaultKey" th:value="${song.defaultKey}">
		</div>
		<div class="offset-1 col-4 justify-content-end d-flex flex-nowrap">
			<label for="updatedKey" class="col-form-label pr-1">Default Key</label>
			<th:block th:replace="partial/key-dropdown-select :: keySet(${song.defaultKey},'updatedKey')"></th:block>
		</div>
	</div>
	<div class="row">
		<div class="col-md-11 mx-auto">
			<div class="row form-group">
				<div class="col">
					<input class="form-control title required" title="Enter a song title" th:readonly="${versionName != null}" type="text" th:value="${song.name}" name="songTitle"/>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-11 mx-auto">
			<textarea rows="15" name="songBody" type="textArea" class="form-control autofocus body required" title="Song body"  th:text="${song.body}"></textarea>
		</div>
	</div>
	<div class="form-group row recording-container">
		<div class="col-lg-8 ml-auto recording-setting">
			<th:block th:replace="partial/audio-input :: audioInput(${song.recording})"></th:block>
		</div>
	</div>
</div>
<script th:inline="javascript">
	var addRecordingHtml = '<div class="input-group audio-inputbox offset-4 flex-nowrap col-8" th:if="${recording == null}"><div class="input-group-prepend"><span class="input-group-text">Upload</span></div><div class="custom-file"><input type="file" class="custom-file-input" accept=".mp3" name="songAudio"> <label class="custom-file-label" for="songAudio">Upload an mp3</label></div></div>';
	$('#editSongModal').find('.modal-title').html('Edit <a href="' + [[@{/song/__${song.id}__}]] + '"><b>' + [[${song.name}]] + '</b></a>');
	$(document).ready(function(){
		$('input[name="newVersion"]').change(function(e){
			if ($(this).is(":checked")){
				$('.version-input').hide();
				$('.recording-setting').hide();
				if (!$('#editSongModal').find('.audio-inputbox').length){
					$('.recording-container').append(addRecordingHtml);
				} else {
					$('.audio-inputbox').show();
				}
			} else {
				$('.version-input').show();
				$('.recording-setting').show();
				$('.audio-inputbox').hide();
			}
		})
		$('.change-recording').click(function(){
			$('.recording-setting').html(addRecordingHtml);
		});
		$('.remove-recording').click(function(e){
			e.preventDefault();
			$.ajax({
				url: contextpath + 'song/delete/recording/' + [[${song.id}]],
				method: "DELETE",
				success: function(data) {
					$('.recording-setting').html(addRecordingHtml);
				},
				error: function(data){
					alertWithFade('danger','Something went wrong! Unable to delete recording');
				},
			});		
		});
	});
</script>