<div class = "modal-header">
	<h5 class="modal-title" th:text="${'Edit contact ' + entry.name}"></h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<input type="hidden" name="entryId" class="entry-id" th:value="${entry.id}" /> 
	<input type="hidden" name="username" class="username" th:value="${entry.username}" /> 
	<div class="form-group row">
		<div class="col-md-10 mx-auto">
			<input placeholder="First name" class="form-control first-name required autofocus" title="First name cannot be blank" type="text" th:value="${entry.firstName}" name="firstName"/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-10 mx-auto">
			<input placeholder="Last name" class="form-control last-name required" title="Last name cannot be blank" type="text" th:value="${entry.lastName}" name="lastName"/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-10 mx-auto">
			<input placeholder="Email" class="form-control email required" title="Email cannot be blank" type="text" th:value="${entry.email}" name="email"/>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-10 mx-auto">
			<input placeholder="Phone" class="form-control phone required" title="Phone cannot be blank" type="text" th:value="${entry.phone}" name="phone"/>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-info btn-lg w-100">Edit Contact</button>
</div>