<input type="hidden" th:value="${song.name}" name="songName" class="song-name">
<input type="hidden" th:value="${song.id}" name="songId" class="song-id">
<div class="form-group row">
	<div class="col-2">
		<label class="form-group mt-1" for="songChordedIn">Chorded In</label>
	</div>
	<div class="col-2 pt-1">
		<select disabled class="custom-select custom-key-select"><option selected th:text="${song.defaultKey}"></option></select>
		<input type="hidden" name="defaultVersionKey" th:value="${song.defaultKey}">
	</div>
	<div class="col-1"></div>
	<div class="col-4"> 
		<label for="updatedKey" class="pt-1 ml-5">Default Key for Version</label>
	</div>
	<div class="col-2 mt-1 text-left">
		<th:block th:replace="partial/key-dropdown-select :: keySet(${song.defaultKey},'updatedVersionKey')"></th:block>
	</div>
</div>
<div class="form-group row">
	<div class="col-12">
		<textarea class="form-control version-body required autofocus" title="Version body" name="versionBody" rows="15" th:text="${song.body}"></textarea>
	</div>
</div>
<div class="form-group row">
	<div class="col-12 recording-setting">
		<th:block th:replace="partial/audio-input :: audioInput(${nothingRec})"></th:block>
	</div>
</div>