<settings>
<pluginGroups/>
 
 <servers/>
 <mirrors/>
 <profiles>
	
	<profile>
	<id>env-spring-rep</id>
	<repositories> 
	  <repository> 
		<id>spring</id>
		<name>Repository for spring packages</name>
		<url>http://repo.spring.io/release</url>
	  </repository>
	  <pluginRepositories> 
          <pluginRepository> 
            <id>spring</id>
            <name>Repository for spring plugins</name>
            <url>http://repo.spring.io/release</url>
          </pluginRepository>
        </pluginRepositories>
	</repositories>
	</profile>
 </profiles>
 <activeProfiles> 
      <activeProfile>env-spring-rep</activeProfile>
 </activeProfiles> 
</settings>
