<th:block th:fragment="songPage(song)">
	<div class="song-page" th:id="${'songPage_' + song.id}" 
	th:attr="data-target=${song.id},data-key=${song.defaultKey},data-related=${song.related},data-recording=${song.recording?.path}">
		<span class="text-center song-title mb-2"><a class="song-title-link" 
		th:href="${!#strings.contains(#request.requestURI,'/song')}? @{/song/__${song.id}__}: 'javascript:void(0)'" 
		th:text="${song.name}"></a></span>
		<div class="version-indicator w-100">
			<span class="float-left" th:text="${'[' + song.defaultKey + ']'}"></span>
			<th:block th:if="${song instanceof T(com.sjwi.cfsongs.model.song.SetListVersionSong) || song instanceof T(com.sjwi.cfsongs.model.song.VersionSong)}">
				<span class="float-right" th:text="${'[' + song.versionName + ']'}"></span>
			</th:block>
			<th:block th:if="${song.class.name != 'com.sjwi.cfsongs.model.song.SetListVersionSong' && song.class.name != 'com.sjwi.cfsongs.model.song.VersionSong'}">
				<span class="float-right" th:text="${'[**]'}"></span>
			</th:block>
		</div>
		<hr class="mt-4">
		<p class="song-body" th:text="${song.body}"></p>
	</div>
</th:block>